.charity {
  // .charity__slide
  &__slide {

    @media (min-width: $lg) {
      display: flex;
    }
  }

  .sl-nav {

    @media (max-width: $lg) {
      margin-top: 3rem;
    }

    @media (min-width: $lg) {
      position: absolute;
      z-index: 2;
      bottom: 12.2rem;
      left: 93.8rem;
    }
  }
}
.charity-slide {
  // .charity-slide__pic
  &__pic {
    width: 100%;
    height: 24rem;
    border-radius: 3rem;
    overflow: hidden;

    @media (max-width: $lg) {
      margin-bottom: 3rem;
    }

    @media (min-width: $lg) {
      width: 87.2rem;
      height: 55rem;
      margin-right: 6.6rem;
    }
  }
  // .charity-slide__body
  &__body {

    @media (min-width: $lg) {
      margin-top: 12.6rem;
    }
  }
  // .charity-slide__title
  &__title {
    margin-bottom: 3rem;
  }
  // .charity-slide__p
  &__p {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @media (min-width: $lg) {
      max-width: 73.3rem;
    }
  }
}
