.doc {
  // .doc__wrap
  &__wrap {
    padding: 8rem 0;

    @media (min-width: $lg) {
      padding: 25rem 0;
    }
  }
  // .doc__title
  &__title {
    text-align: center;
    margin-bottom: 5rem;

    @media (min-width: $lg) {
      margin-bottom: 7rem;
    }
  }
  // .doc__body
  &__body {
    border-radius: 3rem;
    background: $gray_6;
    padding: 5rem 3rem;

    @media (min-width: $lg) {
      width: 111.2rem;
      padding: 8rem 6.5rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
    }
  }
  // .doc__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    border-radius: 3rem;
    
    @media (max-width: $lg) {
      padding: 1.5rem 1rem 1.5rem 2rem;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    @media (min-width: $lg) {
      height: 11rem;
      padding-left: 3rem;
      padding-right: 1rem;
    }
  }
}
.doc-item {
  // .doc-item__icon
  &__icon {
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 1.5rem;

    @media (min-width: $lg) {
      width: 4.6rem;
      height: 4.6rem;
    }
  }
  // .doc-item__p
  &__p {}
}