.footer {
  // .footer__wrap
  &__wrap {
    border-top: .2rem solid rgba(196, 195, 205, .3);
    padding: 3rem 0;

    @media (min-width: $lg) {
      padding: 5rem 0;
      padding-right: 14.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  // .footer__logo
  &__logo {
    width: 20rem;

    @media (max-width: $lg) {
      margin: 0 auto 3rem;
    }
    
    @media (min-width: $lg) {
      width: 37.828rem;
      height: 7.6rem;
    }
  }
  // .footer__body
  &__body {}
  // .footer__nav
  &__nav {
    margin-bottom: 3rem;

    @media (min-width: $lg) {
      margin-bottom: 2rem;
    }
  }
  // .footer__contact 
  &__contact{

    @media (max-width: $lg) {
      margin-bottom: 3rem;
    }
  
    @media (min-width: $lg) {
      display: flex;
      align-items: center;
    }
  }
  // .footer__btn
  &__btn {}
}
.footer-nav {
  // .footer-nav__link
  &__link {
    font-family: OpenSans;
    font-size: 1.4rem;
    line-height: calc(22/14);
    font-weight: 400;
    color: $gray_1;
    transition: all 0.3s ease 0s;

    @media (max-width: $lg) {
      display: block;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    @media (min-width: $lg) {
      font-size: 1.6rem;
      line-height: calc(24/16);

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: $blue;
      }
    }
  }
}