.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition: all 0.3s ease 0s;

  @media (min-width: $lg) {
    position: fixed;
  }
  // .header__wrapp
  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;

    @media (min-width: $lg) {
      padding: 3rem 0;
    }
  }
  // .header__logo
  &__logo {
    width: 20rem;

    @media (min-width: $lg) {
      width: 30.86rem;
      height: 6.2rem;
    }
  }
  // .header__contact
  &__contact {
    display: none;

    @media (min-width: $lg) {
      align-items: center;
      margin-left: auto;
      margin-right: 5.5rem;
    }
  }
  // .header__openbtn
  &__openbtn {
    width: 3.5rem;
    height: 3.5rem;

    @media (min-width: $lg) {
      width: 5rem;
      height: 5rem;
    }
  }

  &-fixed {

    background: #fff;

    .header__contact {
      display: flex;
    }
  }
}