.ht {
  // .ht__wrap
  &__wrap {
    padding: 8rem 0;

    @media (min-width: $lg) {
      padding: 25rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  // .ht__body
  &__body {

    @media (max-width: $lg) {
      margin-bottom: 5rem;
    }

    @media (min-width: $lg) {
      max-width: 68.7rem;
    }
  }
  // .ht__pic
  &__pic {
    width: 100%;
    height: 24rem;
    border-radius: 5rem;
    overflow: hidden;

    @media (min-width: $lg) {
      width: 82.8rem;
      height: 55rem;
    }
  }
}
.ht-body {
  // .ht-body__title
  &__title {
    margin-bottom: 3rem;
  }
  // .ht-body__p
  &__p {
    margin-bottom: 4rem;
  }
  // .ht-body__btn
  &__btn {}
}