.help {
  // .help__wrap
  &__wrap {
    padding-top: 8rem;

    @media (min-width: $lg) {
      display: flex;
      align-items: center;
      padding-top: 25rem;
    }
  }
  // .help__pic
  &__pic {
    width: 100%;
    height: 24rem;
    border-radius: 3rem;
    overflow: hidden;

    @media (max-width: $lg) {
      margin-bottom: 5rem;
    }

    @media (min-width: $lg) {
      width: 82.4rem;
      height: 55rem;
      margin-right: 10rem;
    }
  }
  // .help__body
  &__body {

    @media (min-width: $lg) {
      max-width: 73.3rem;
    }
  }
}
.help-body {
  // .help-body__title
  &__title {
    margin-bottom: 3rem;
  }
  // .help-body__p
  &__p {
    margin-bottom: 1.5rem;

    &:nth-child(3) {
    margin-bottom: 2rem;
    }

    &:nth-child(4) {
    margin-bottom: 4rem;
    }
  }
  // .help-body__btn
  &__btn {}
}