.hero {
  height: 100vh;

  .md {
    height: 100%;
  }

  // .hero__wrap
  &__wrap {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $lg) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  // .hero__body
  &__body {


    @media (min-width: $lg) {
      max-width: 70.7rem;
    }
  }
  // .hero__pic
  &__pic {
    @media (max-width: $sm) {
      display: none;
    }
    @media (max-width: $lg) {
      position: absolute;
      top: 10rem;
      width: 100%;
      z-index: -1;
    }

    @media (min-width: $lg) {
      width: 82.8rem;
      margin-top: -7rem;
    }
  }
  // .hero__contact
  &__contact {
    position: absolute;
    left: 0;
    bottom: 3rem;

    @media (min-width: $lg) {
      bottom: 7rem;
      display: flex;
      align-items: center;
    }
  }
}
.hero-body {
  // .hero-body__subtitle
  &__subtitle {
    font-family: Ubuntu;
    font-size: 2rem;
    line-height: calc(26/20);
    font-weight: 400;
    color: $gray_1;
    margin-bottom: 1.2rem;

    @media (min-width: $lg) {
      font-size: 2.8rem;
      line-height: calc(32/28);
    }
  }
  // .hero-body__title
  &__title {
    margin-bottom: 4rem;
  }
  // .hero-body__text
  &__text {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 5rem;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      border-radius: 5rem;
      background: $yellow;
      width: .4rem;
      height: 100%;

      @media (min-width: $lg) {
        width: .4rem;
        height: 6rem;
      }
    }
  }
  // .hero-body__p
  &__p {
    font-size: 1.6rem;
    line-height: calc(26/16);

    @media (min-width: $lg) {
      font-size: 2rem;
      line-height: calc(30/20);
    }
  }
  // .hero-body__btn
  &__btn {}
}
.hero-pic {
  // .hero-pic__img
  &__img {
    border-radius: 3rem;
    width: 40.2rem;
    height: 27rem;
    overflow: hidden;

    &:nth-child(2n) {
      margin-left: auto;
    }

    @media (min-width: $lg) {
      width: 40.2rem;
      height: 27rem;

      &:nth-child(2n) {
        margin-left: auto;
      }
    }
  }
}
