.nh {
  // .nh__body
  &__body {
    background: $gray_6;
    border-radius: 3rem;
    text-align: center;

    @media (max-width: $lg) {
      padding: 5rem 2rem;
    }
    
    @media (min-width: $lg) {
      width: 82.9rem;
      height: 47rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
.nh-body {
  // .nh-body__title
  &__title {
    margin-bottom: 3rem;
  }
  // .nh-body__p
  &__p {
    color: $gray_1;
    margin-bottom: 4rem;

    @media (min-width: $lg) {
      max-width: 68.6rem;
    }
  }
  // .nh-body__btn
  &__btn {}
}