.plans {
  // .plans__wrap
  &__wrap {
    padding: 8rem 0;

    @media (min-width: $lg) {
      padding: 25rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  // .plans__body
  &__body {

    @media (max-width: $lg) {
      margin-bottom: 5rem;
    }

    @media (min-width: $lg) {
      max-width: 54.3rem;
    }
  }
  // .plans__info
  &__info {

    @media (min-width: $lg) {
      width: 97rem;
      display: flex;
      justify-content: space-between;
    }
  }
  // .plans__item
  &__item {}
}
.plans-body {
  // .plans-body__title
  &__title {
    margin-bottom: 3rem;
  }
  // .plans-body__p
  &__p {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
.plans-info {
		// .plans-info__col
		&__col {

      @media (max-width: $lg) {
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }

      @media (min-width: $lg) {
        width: 47.3rem;
      }

      &_left {

        @media (min-width: $lg) {
          margin-top: 4.6rem;
        }

        .plans__item {

          &:nth-child(2) {

            .plans-item__pic {

              @media (min-width: $lg) {
                height: 31.6rem;
              }
            }
          }
        }
      }

      &_right {
        .plans__item {

          &:nth-child(1) {

            .plans-item__pic {

              @media (min-width: $lg) {
                height: 31.6rem;
              }
            }
          }
        }
      }
    }
  // .plans-info__item
  &__item {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    @media (max-width: $lg) {
      padding: 3rem;
      height: 24rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    @media (min-width: $lg) {
      display: flex;
      align-items: center;
    }

    .plans-item__pic_color  {
      display: none;
    }

    &.active {
      .plans-item__pic_gray {
        display: none;
      }

      .plans-item__pic_color {
        display: block;
      }

      .plans-item__body {
        display: block;
      }
    }

    &.hide {
      opacity: .1;
      pointer-events: none;
    }

    @media (any-hover: hover) {
      &:hover {
        .plans-item__pic img{
          transform: scale(1.2);
        }
      }
    }
  }
}

.plans-item {
  // .plans-item__pic
  &__pic {
    
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    overflow: hidden;
    transition: all 0.3s ease 0s;

    @media (max-width: $lg) {
      position: absolute;
      left: 0;
      top: 0;
    }

    @media (min-width: $lg) {
      position: relative;
      height: 46.9rem;
      z-index: 1;

      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }

    img {
      transition: all 0.7s ease 0s;
    }
  }
  // .plans-item__body
  &__body {
    position: absolute;
    
    @media (max-width: $lg) {
      bottom: 3rem;
      left: 3rem;
    }
    
    @media (min-width: $lg) {
      max-width: 47.3rem;
      display: none;
    }
  }
}
.plans-item-body {
  // .plans-item-body__title
  &__title {

    @media (min-width: $lg) {
      margin-bottom: 1.5rem;
    }
  }
  // .plans-item-body__line
  &__line {
    background: $yellow;
    border-radius: 5rem;
    width: 4rem;
    height: .4rem;
    margin-bottom: 1.5rem;

    @media (min-width: $lg) {
      width: 6rem;
    }
  }
  // .plans-item-body__p
  &__p {

    @media (max-width: $lg) {
      color: #fff;
    }
  }
}

#plans-item1 {
  top: 0;
  transition: all 0.3s ease 0s;

  .plans-item__body {

    @media (min-width: $lg) {
      right: -50rem;
    }
  }

  &.move3 {
    top: -45rem;
  }

  &.move4 {
    top: -5rem;
  }
}

#plans-item2 {
  bottom: 0;
  transition: all 0.3s ease 0s;

  .plans-item__body {

    @media (min-width: $lg) {
      right: -50rem;
    }
  }

  &.move3 {
    bottom: 25rem;
  }

  &.move4 {
    bottom: -20rem;
  }
}

#plans-item3 {
  top: 0;
  transition: all 0.3s ease 0s;

  .plans-item__body {

    @media (min-width: $lg) {
      left: -49rem;
    }
  }

  &.move1 {
    top: -24.5rem;
  }

  &.move2 {
    top: 27rem;
  }
}

#plans-item4 {
  bottom: 0;
  transition: all 0.3s ease 0s;

  .plans-item__body {

    @media (min-width: $lg) {
      left: -49rem;
    }
  }

  &.move1 {
    bottom: -13rem;
  }

  &.move2 {
    bottom: -48rem;
  }
}