.props {
  // .props__wrap
  &__wrap {}
  // .props__title
  &__title {
    text-align: center;
    margin-bottom: 5rem;

    @media (min-width: $lg) {
      margin-bottom: 7rem;
    }
  }
  // .props__body
  &__body {
    border-radius: 3rem;
    background: $gray_6;
    padding: 5rem 3rem;

    @media (max-width: $lg) {
      display: flex;
      overflow: auto;
    }

    @media (min-width: $lg) {
      width: 111.2rem;
      padding: 3rem 2.9rem;
      margin: 0 auto;
    }
  }
  // .props__head
  &__head {

    @media (max-width: $lg) {
      margin-right: 2rem;
      min-width: 13rem;
      padding: 2rem 0;
    }

    @media (min-width: $lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1.1rem;
      margin-bottom: 2.5rem;
      padding-left: 2rem;
    }
  }
  // .props__content
  &__content {
    
    @media (max-width: $lg) {
      background: #fff;
      border-radius: 1rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    @media (min-width: $lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1.1rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
.props-head {
  // .props-head__title
  &__title {
    font-family: OpenSans;
    font-size: 1.6rem;
    line-height: calc(22/16);
    font-weight: 600;
    color: $gray_1;

    @media (max-width: $lg) {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    
    @media (min-width: $lg) {
      font-size: 1.8rem;
      line-height: calc(25/18);
    }
  }
}
.props-content {
  // .props-content__item
  &__item {
    

    @media (min-width: $lg) {
      background: #fff;
      border-radius: 1rem;
      height: 6rem;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      padding-right: 1rem;
    }
  }
}
