.question {
  // .question__wrap
  &__wrap {
    padding: 8rem 0;

    @media (min-width: $lg) {
      padding: 25rem 0;
    }
  }
  // .question__title
  &__title {
    text-align: center;
    margin-bottom: 5rem;

    @media (min-width: $lg) {
      margin-bottom: 7rem;
    }
  }
  // .question__body
  &__body {

    @media (min-width: $lg) {
      width: 111.2rem;
      margin: 0 auto;
    }
  }
  // .question__item
  &__item {
    background: $gray_6;
    border-radius: 3rem;
    padding: 2rem 1.5rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    @media (min-width: $lg) {
      padding: 3rem 2.5rem;

      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }

    &.is-active {
      .question-item-head__arrow {
        transform: rotate(180deg)
      }

      .question-item__content {
        border-top: .2rem solid rgba(196, 195, 205, .3);
        padding-top: 2rem !important;
        margin-top: 2rem;

        @media (min-width: $lg) {
          padding-top: 3rem !important;
          margin-top: 3rem;
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        .question-item-head__arrow svg circle {
          fill: $orange;
        }
      }
    }
  }
}
.question-item {
  // .question-item__head
  &__head {
    display: flex;
    align-items: center;
    padding: 0 !important;
  }
  // .question-item__content
  &__content {
    padding: 0 !important;
  }
}
.question-item-head {
  // .question-item-head__num
  &__num {
    margin-right: 1.5rem;
  }
  // .question-item-head__p
  &__p {}
  // .question-item-head__arrow
  &__arrow {
    transition: all 0.3s ease 0s;
    
    min-width: 3.5rem;
    width: 3.5rem;
    height: 3.5rem;

    @media (max-width: $sm) {
      margin-left: 1.5rem;
    }

    @media (min-width: $sm) {
      margin-left: auto;
    }

    @media (min-width: $lg) {
      width: 5rem;
      height: 5rem;
    }

    svg circle {
      transition: all 0.5s ease 0s;
    }
  }
}
.question-item-content {
  // .question-item-content__p
  &__p {}
}
