.support {
  // .support__wrap
  &__wrap {
    padding-bottom: 8rem;

    @media (min-width: $lg) {
      padding-bottom: 25rem;
    }
  }
  // .support__head
  &__head {
    text-align: center;
    margin-bottom: 5rem;

    @media (min-width: $lg) {
      margin-bottom: 8rem;
    }

    &.hide {
      .support-head__p {
        opacity: 0;
      }
    }
  }
  // .support__body
  &__body {

    @media (min-width: $lg) {
      display: flex;
      align-items: center;
      justify-content: space-between; 
    }
  }
}
.support-head {
  // .support-head__title
  &__title {
    margin-bottom: 3rem;
  }
  // .support-head__p
  &__p {
    transition: all 0.3s ease 0s;

    @media (min-width: $lg) {
      opacity: 1;
      max-width: 68.6rem;
      margin: 0 auto;
    }
  }
}
.support-body {
  // .support-body__item
  &__item {
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    @media (max-width: $lg) {
      margin-bottom: 3rem;
    }

    @media (min-width: $lg) {
      width: 54.4rem;
      height: 37rem;
    }

    &.active {
      .support-body-item__p {
        display: block;
      }
    }

    &.hide {
      opacity: .1;
      transform: scale(0.75);
      pointer-events: none;
    }

    @media (any-hover: hover) {
      &:hover {
        .support-body-item__pic img{
          transform: scale(1.2);
        }
      }
    }
  }
}
.support-body-item {
  // .support-body-item__p
  &__p {
    color: $gray_1;
    transition: all 0.3s ease 0s;

    @media (max-width: $lg) {
      text-align: center;
      margin-bottom: 2rem;
    }

    @media (min-width: $lg) {
      position: absolute;
      display: none;
      top: -13.4rem;
      max-width: 47.3rem;
      text-align: center;
    }
  }
  // .support-body-item__pic
  &__pic {
    width: 100%;
    height: 24rem;
    border-radius: 5rem;
    overflow: hidden;

    @media (min-width: $lg) {
      height: 100%;
    }

    img {
      transition: all 0.7s ease 0s;
    }
  }
}