@import "utils/_variables";
@import "utils/_fonts";


html {
    color: $gray_3;
    background-color: #fff; 
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
    // Не резиновая адаптация
    
    // font-size: 10px;

    // @media (min-width: $md) {
    //     font-size: 8px;
    // }
        
    // @media (min-width: $lg) {
    //     font-size: 10px;
    // }
        
    // @media (min-width: 2000px) {
    //     font-size: 12px;
    // }
        
    // @media (min-width: 2600px) {
    //     font-size: 16px;
    // }
}

body {
    font-family: OpenSans;
    font-size: 1.8rem;
    font-weight: 400;
    min-height: 100vh;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}


a, button {
    color: inherit;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page {
    position: relative;
}

.md {
    margin: auto;

    @media (min-width: $lg) {
        max-width: 168rem;
    }

    @media (max-width: $lg) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.mob {

    @media (min-width: $lg) {
        display: none;
    }
}

.mob-none {
    
    @media (max-width: $lg) {
        display: none;
    }
}

.img-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ttitle {
    font-family: Ubuntu;
    font-size: 3.6rem;
    line-height: calc(45/36);
    font-weight: 500;
    text-transform: uppercase;
    color: $blue; 
    
    @media (min-width: $lg) {
        font-size: 5.5rem;
        line-height: calc(63/55);
    }
}

.smtitle {
    font-family: Ubuntu;
    font-size: 2.8rem;
    line-height: calc(36/28);
    font-weight: 500;
    text-transform: uppercase;
    color: $blue;
    
    @media (min-width: $lg) {
        font-size: 4.5rem;
        line-height: calc(52/45);
    }
}


.p {
    font-family: OpenSans;
    font-size: 1.4rem;
    line-height: calc(22/14);
    font-weight: 400;
    
    @media (min-width: $lg) {
    font-size: 1.8rem;
    line-height: calc(27/18);
    }

    span {
        font-weight: 600;
        color: $gray_1;
    }
}

.btn {
  font-family: Ubuntu;
  font-size: 1.2rem;
  line-height: calc(14/12);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $orange;
  color: #fff;
  border-radius: 5rem;
  transition: all .5s ease 0s;
  min-width: 9rem;
  height: 4rem;
  padding: 0 2rem;
  
  @media (min-width: $lg) {
    font-size: 1.6rem;
    line-height: calc(18/16);
    min-width: 20rem;
    height: 6rem;
    padding: 0 2.3rem;
  }

  @media (any-hover: hover) {
    &:hover {
      background: $blue;
    }
  }
}

.sl-nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    // .sl-nav__arrow
    &__arrow {
      width: 3.5rem;
      height: 3.5rem;

      svg circle {
        transition: all 0.5s ease 0s;
      }

      @media (min-width: $lg) {
        cursor: pointer;
        width: 5rem;
        height: 5rem;
      }

      @media (any-hover: hover) {
        &:hover {
          svg circle {
            fill: $orange;
          }
        }
      }
    }
    // .sl-nav__prev
    &__prev {}
    // .sl-nav__current
    &__current {
        font-family: Ubuntu;
        font-size: 2.6rem;
        line-height: calc(32/26);
        font-weight: 500;
        text-transform: uppercase;
        color: $blue;

        @media (min-width: $lg) {
            font-size: 4.5rem;
            line-height: calc(52/45);
            margin: 0 3rem;
        }
    }
    // .sl-nav__next
    &__next {}
}

.contact {
    // .contact__phone
    &__phone {
      display: flex;
      align-items: center;
      
      @media (max-width: $lg) {
        margin-bottom: 1.5rem;
      }
  
      @media (min-width: $lg) {
        margin-right: 2.5rem;
      }
  
      svg {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 0.5rem;

        path {
          transition: all 0.3s ease 0s;
        }
      }
  
      span {
        font-size: 1.6rem;
        line-height: calc(24/16);
        color: $gray_1;
        letter-spacing: 0.02em;
        transition: all 0.3s ease 0s;
  
        @media (min-width: $lg) {
          font-size: 1.7rem;
          line-height: calc(23/17);
        }

       
      }

      @media (any-hover: hover) {
        &:hover {

          svg path{
            fill: $orange;
          }
          
          span {
            color: $orange;
          }
        }
      }
    }
    // .contact__social
    &__social {
      display: flex;
      align-items: center;

      @media (max-width: $lg) {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
  
      @media (min-width: $lg) {
        &:not(:last-child) {
          margin-right: 2.5rem;
        }
      }
  
      .ic--telegram {
        width: 2.1rem;
        height: 1.735rem;
      }
  
      .ic--whatsapp {
        width: 2rem;
        height: 2rem;
      }
  
      svg {
        margin-right: 0.5rem;

        path {
          transition: all 0.3s ease 0s;
        }
      }
  
      span {
        font-size: 1.6rem;
        line-height: calc(24/16);
        color: $gray_1;
        letter-spacing: 0.02em;
        transition: all 0.3s ease 0s;
  
        @media (min-width: $lg) {
          font-size: 1.7rem;
          line-height: calc(23/17);
        }
      }

      @media (any-hover: hover) {
        &:hover {

          svg path{
            fill: $orange;
          }
          
          span {
            color: $orange;
          }
        }
      }
    }
  }
  

@import "blocks/header";
// @import "blocks/preloader";
@import "blocks/menu";
@import "blocks/footer";

@import "blocks/hero";
@import "blocks/help";
@import "blocks/plans";
@import "blocks/support";
@import "blocks/need-help";
@import "blocks/help-together";
@import "blocks/charity";
@import "blocks/documents";
@import "blocks/props";
@import "blocks/question";

// .chbox {
    

    //     &__label {
    //       display: inline-flex;
    //       align-items: center;
    //     }
    
    //     &__input {
    //       display: none;
    
    //       &:checked ~ .chbox__icon {
    //         background-color: #e83d47;
    //         border-color: #e83d47;
    //         opacity: 1;
    //       }
    
    //       &:checked ~ .chbox__icon:after {
    //         opacity: 1;
    //       }
    
    //       &:checked ~ .chbox__icon:before {
    //         opacity: 1;
    //       }
    //     }
    
    //     &__icon {
    //       width: 2rem;
    //       height: 2rem;
    //       border-radius: 50%;
    //       flex: 0 0 auto;
    //       margin-right: 1.2rem;
    //       border: 1px solid #17273D;
    //       position: relative;
    //       opacity: .2;
    
    //       &:before {
    //         content: '';
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         border-radius: 50%;
    //         background-color: #e83d47;
    //         opacity: 0;
    //       }
    
    //       &:after {
    //         content: '';
    //         position: absolute;
    //         top: -.4rem;
    //         left: -.4rem;
    //         right: -.4rem;
    //         bottom: -.4rem;
    //         border-radius: 50%;
    //         overflow: hidden;
    //         background-color: rgba(232,61,71,.2);
    //         opacity: 0;
    //       }
    //     }
    
    //     &__text {
    //       font-family: CormorantInfant,sans-serif;
    //       font-weight: 400;
    //       font-size: 1.8rem;
    //       line-height: (21/18);
    //       letter-spacing: -.1px;
    //       user-select: none;
    //       cursor: pointer;
    //     }
    // }
    
    
    // .radio {
    
    //     &__label {
    //       display: inline-flex;
    //       align-items: center;
    //     }
      
    //     &__input {
    //       display: none;
      
    //       &:checked ~ .radio__icon {
    //         background-color: rgba(232,61,71,.2);
    //         border-color: transparent;
    //       }
      
    //       &:checked ~ .radio__icon:before {
    //         opacity: 1;
    //       }
    //     }
      
    //     &__icon {
    //       width: 2.4rem;
    //       height: 2.4rem;
    //       border-radius: 50%;
    //       flex: 0 0 auto;
    //       margin-right: 1.5rem;
    //       border: 1px solid rgba(227,232,238,.2);
    //       position: relative;
      
    //       &:before {
    //         content: '';
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         -webkit-transform: translate(-50%,-50%);
    //         -ms-transform: translate(-50%,-50%);
    //         transform: translate(-50%,-50%);
    //         width: .8rem;
    //         height: .8rem;
    //         border-radius: 50%;
    //         background-color: #e83d47;
    //         opacity: 0;
    //       }
      
    //       &_dark {
    //         border-color: rgba(23,39,61,.2);
    //       }
    //     }
      
    //     &__text {
    //       font-family: CormorantInfant,sans-serif;
    //       font-weight: 600;
    //       font-size: 2.2rem;
    //       line-height: 1;
    //       letter-spacing: -.1px;
    //       user-select: none;
    //       cursor: pointer;
    //     }
    // }
    