:root {
//    --white: #fff;
}

// Fonts

// Colors
$white: #fff;
$gray_1: #2F3035;
$gray_3: #80838A;
$gray_6: #F4F6FB;
$blue: #00A3E8;
$orange: #FF852C;
$yellow: #FED500;


// Grid
$vs: 360px;
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1400px;