<section class="charity">
  <div class="md">
    <div class="swiper" data-charity>
      <div class="swiper-wrapper">
        <div class="charity__slide swiper-slide">
          <div class="charity-slide__pic">
            <img src="@img/charity-sl1.jpg" alt="" loading="lazy" class="img-full">
          </div>
          <div class="charity-slide__body">
            <h2 class="charity-slide__title smtitle">Прозора благодійність</h2>
            <p class="charity-slide__p p"><span>Всесторонній контроль</span></p>
            <p class="charity-slide__p p">Всі донати, надані вами у якості гуманітарної допомоги чи фінансових коштів,
              контролюються державними органами та наглядовою радою фонду.</p>
          </div>
        </div>
        <div class="charity__slide swiper-slide">
          <div class="charity-slide__pic">
            <img src="@img/charity-sl2.jpg" alt="" loading="lazy" class="img-full">
          </div>
          <div class="charity-slide__body">
            <h2 class="charity-slide__title smtitle">Прозора благодійність</h2>
            <p class="charity-slide__p p"><span>Постійне інформування</span></p>
            <p class="charity-slide__p p">Ми працюємо офіційно та надаємо вичерпні звіти щодо доцільного
              використання кожної пожертвуваної гривні.</p>
          </div>
        </div>
      </div>
      <div class="sl-nav">
        <div class="sl-nav__arrow sl-nav__prev">
          <svg class="img-full" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="25" cy="25" r="25" fill="#00A3E8"/>
            <path d="M32 25H18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M25 32L18 25L25 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>            
        </div>
        <div class="sl-nav__current">01</div>
        <div class="sl-nav__arrow sl-nav__next">
          <svg class="img-full" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle r="25" transform="matrix(-1 0 0 1 25 25)" fill="#00A3E8"/>
            <path d="M18 25H32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M25 32L32 25L25 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>            
        </div>
      </div>
    </div>
  </div>
</section>