<section class="doc">
  <div class="md">
    <div class="doc__wrap">
      <h2 class="doc__title smtitle">Документи</h2>
      <div class="doc__body">
        <div class="doc__item">
          <div class="doc-item__icon">
            <svg class="img-full" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M40.25 12.9375V40.25C40.25 41.775 39.6442 43.2375 38.5659 44.3159C37.4875 45.3942 36.025 46 34.5 46H33.0625C32.2686 46 31.625 45.3564 31.625 44.5625C31.625 43.7686 32.2686 43.125 33.0625 43.125H34.5C35.2625 43.125 35.9938 42.8221 36.5329 42.2829C37.0721 41.7438 37.375 41.0125 37.375 40.25V12.9375H31.625C30.4813 12.9375 29.3844 12.4831 28.5756 11.6744C27.7669 10.8656 27.3125 9.76875 27.3125 8.625V2.875H11.5C10.7375 2.875 10.0062 3.1779 9.46707 3.71707C8.9279 4.25624 8.625 4.9875 8.625 5.75V30.1875C8.625 30.9814 7.98141 31.625 7.1875 31.625C6.39359 31.625 5.75 30.9814 5.75 30.1875V5.75C5.75 4.22501 6.3558 2.76247 7.43414 1.68414C8.51247 0.605802 9.97501 0 11.5 0L27.3125 0L40.25 12.9375ZM4.6 34.0688H0V44.4288C0 45.0568 0.50908 45.5659 1.13706 45.5659C1.76504 45.5659 2.27412 45.0568 2.27412 44.4288V41.7076H4.58275C5.40787 41.7076 6.10937 41.5437 6.68725 41.2102C7.27087 40.8739 7.7165 40.4196 8.01837 39.8475C8.33171 39.2471 8.49078 38.5783 8.48125 37.9011C8.48125 37.1824 8.32887 36.5326 8.027 35.9547C7.72674 35.3803 7.26768 34.9043 6.7045 34.5834C6.1295 34.2384 5.43087 34.0688 4.6 34.0688ZM6.16687 37.9011C6.17724 38.2799 6.09326 38.6553 5.9225 38.9936C5.7693 39.2882 5.53084 39.5296 5.23825 39.6865C4.90357 39.8521 4.53337 39.933 4.16013 39.9222H2.2655V35.88H4.163C4.78975 35.88 5.28137 36.0525 5.635 36.4004C5.98863 36.7511 6.16687 37.2514 6.16687 37.9011ZM9.66575 34.0688V45.5659H13.8632C15.0161 45.5659 15.9735 45.3359 16.7325 44.8845C17.5006 44.425 18.1004 43.7304 18.4431 42.9036C18.8169 42.0411 19.0066 41.0004 19.0066 39.7871C19.0066 38.5796 18.8197 37.5504 18.4431 36.6965C18.1044 35.8792 17.5104 35.1934 16.7498 34.7415C15.9908 34.293 15.0276 34.0688 13.8604 34.0688H9.66575ZM11.9399 35.9231H13.5585C14.2715 35.9231 14.8522 36.0669 15.3094 36.3601C15.7839 36.6704 16.1418 37.1296 16.3271 37.6654C16.5542 38.2432 16.6664 38.9649 16.6664 39.8302C16.6753 40.4037 16.6096 40.9758 16.4709 41.5322C16.3684 41.9711 16.1766 42.3841 15.9074 42.7455C15.6572 43.0679 15.3258 43.318 14.9471 43.47C14.5034 43.636 14.0321 43.716 13.5585 43.7057H11.9399V35.9231ZM22.701 40.9917V44.4302C22.701 45.0574 22.1926 45.5659 21.5654 45.5659C20.9382 45.5659 20.4297 45.0574 20.4297 44.4302V34.0688H26.8166C27.335 34.0688 27.7553 34.489 27.7553 35.0074C27.7553 35.5259 27.335 35.9461 26.8166 35.9461H22.701V39.1575H26.4011C26.9076 39.1575 27.3182 39.5681 27.3182 40.0746C27.3182 40.5811 26.9076 40.9917 26.4011 40.9917H22.701Z" fill="#00A3E8"/>
            </svg>
          </div>
          <p class="doc-item__p p"><span>Свідоцтво реєстрація</span></p>
        </div>
        <div class="doc__item">
          <div class="doc-item__icon">
            <svg class="img-full" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M40.25 12.9375V40.25C40.25 41.775 39.6442 43.2375 38.5659 44.3159C37.4875 45.3942 36.025 46 34.5 46H33.0625C32.2686 46 31.625 45.3564 31.625 44.5625C31.625 43.7686 32.2686 43.125 33.0625 43.125H34.5C35.2625 43.125 35.9938 42.8221 36.5329 42.2829C37.0721 41.7438 37.375 41.0125 37.375 40.25V12.9375H31.625C30.4813 12.9375 29.3844 12.4831 28.5756 11.6744C27.7669 10.8656 27.3125 9.76875 27.3125 8.625V2.875H11.5C10.7375 2.875 10.0062 3.1779 9.46707 3.71707C8.9279 4.25624 8.625 4.9875 8.625 5.75V30.1875C8.625 30.9814 7.98141 31.625 7.1875 31.625C6.39359 31.625 5.75 30.9814 5.75 30.1875V5.75C5.75 4.22501 6.3558 2.76247 7.43414 1.68414C8.51247 0.605802 9.97501 0 11.5 0L27.3125 0L40.25 12.9375ZM4.6 34.0688H0V44.4288C0 45.0568 0.50908 45.5659 1.13706 45.5659C1.76504 45.5659 2.27412 45.0568 2.27412 44.4288V41.7076H4.58275C5.40787 41.7076 6.10937 41.5437 6.68725 41.2102C7.27087 40.8739 7.7165 40.4196 8.01837 39.8475C8.33171 39.2471 8.49078 38.5783 8.48125 37.9011C8.48125 37.1824 8.32887 36.5326 8.027 35.9547C7.72674 35.3803 7.26768 34.9043 6.7045 34.5834C6.1295 34.2384 5.43087 34.0688 4.6 34.0688ZM6.16687 37.9011C6.17724 38.2799 6.09326 38.6553 5.9225 38.9936C5.7693 39.2882 5.53084 39.5296 5.23825 39.6865C4.90357 39.8521 4.53337 39.933 4.16013 39.9222H2.2655V35.88H4.163C4.78975 35.88 5.28137 36.0525 5.635 36.4004C5.98863 36.7511 6.16687 37.2514 6.16687 37.9011ZM9.66575 34.0688V45.5659H13.8632C15.0161 45.5659 15.9735 45.3359 16.7325 44.8845C17.5006 44.425 18.1004 43.7304 18.4431 42.9036C18.8169 42.0411 19.0066 41.0004 19.0066 39.7871C19.0066 38.5796 18.8197 37.5504 18.4431 36.6965C18.1044 35.8792 17.5104 35.1934 16.7498 34.7415C15.9908 34.293 15.0276 34.0688 13.8604 34.0688H9.66575ZM11.9399 35.9231H13.5585C14.2715 35.9231 14.8522 36.0669 15.3094 36.3601C15.7839 36.6704 16.1418 37.1296 16.3271 37.6654C16.5542 38.2432 16.6664 38.9649 16.6664 39.8302C16.6753 40.4037 16.6096 40.9758 16.4709 41.5322C16.3684 41.9711 16.1766 42.3841 15.9074 42.7455C15.6572 43.0679 15.3258 43.318 14.9471 43.47C14.5034 43.636 14.0321 43.716 13.5585 43.7057H11.9399V35.9231ZM22.701 40.9917V44.4302C22.701 45.0574 22.1926 45.5659 21.5654 45.5659C20.9382 45.5659 20.4297 45.0574 20.4297 44.4302V34.0688H26.8166C27.335 34.0688 27.7553 34.489 27.7553 35.0074C27.7553 35.5259 27.335 35.9461 26.8166 35.9461H22.701V39.1575H26.4011C26.9076 39.1575 27.3182 39.5681 27.3182 40.0746C27.3182 40.5811 26.9076 40.9917 26.4011 40.9917H22.701Z" fill="#00A3E8"/>
            </svg>
          </div>
          <p class="doc-item__p p"><span>Статут</span></p>
        </div>
        <div class="doc__item">
          <div class="doc-item__icon">
            <svg class="img-full" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M40.25 12.9375V40.25C40.25 41.775 39.6442 43.2375 38.5659 44.3159C37.4875 45.3942 36.025 46 34.5 46H33.0625C32.2686 46 31.625 45.3564 31.625 44.5625C31.625 43.7686 32.2686 43.125 33.0625 43.125H34.5C35.2625 43.125 35.9938 42.8221 36.5329 42.2829C37.0721 41.7438 37.375 41.0125 37.375 40.25V12.9375H31.625C30.4813 12.9375 29.3844 12.4831 28.5756 11.6744C27.7669 10.8656 27.3125 9.76875 27.3125 8.625V2.875H11.5C10.7375 2.875 10.0062 3.1779 9.46707 3.71707C8.9279 4.25624 8.625 4.9875 8.625 5.75V30.1875C8.625 30.9814 7.98141 31.625 7.1875 31.625C6.39359 31.625 5.75 30.9814 5.75 30.1875V5.75C5.75 4.22501 6.3558 2.76247 7.43414 1.68414C8.51247 0.605802 9.97501 0 11.5 0L27.3125 0L40.25 12.9375ZM4.6 34.0688H0V44.4288C0 45.0568 0.50908 45.5659 1.13706 45.5659C1.76504 45.5659 2.27412 45.0568 2.27412 44.4288V41.7076H4.58275C5.40787 41.7076 6.10937 41.5437 6.68725 41.2102C7.27087 40.8739 7.7165 40.4196 8.01837 39.8475C8.33171 39.2471 8.49078 38.5783 8.48125 37.9011C8.48125 37.1824 8.32887 36.5326 8.027 35.9547C7.72674 35.3803 7.26768 34.9043 6.7045 34.5834C6.1295 34.2384 5.43087 34.0688 4.6 34.0688ZM6.16687 37.9011C6.17724 38.2799 6.09326 38.6553 5.9225 38.9936C5.7693 39.2882 5.53084 39.5296 5.23825 39.6865C4.90357 39.8521 4.53337 39.933 4.16013 39.9222H2.2655V35.88H4.163C4.78975 35.88 5.28137 36.0525 5.635 36.4004C5.98863 36.7511 6.16687 37.2514 6.16687 37.9011ZM9.66575 34.0688V45.5659H13.8632C15.0161 45.5659 15.9735 45.3359 16.7325 44.8845C17.5006 44.425 18.1004 43.7304 18.4431 42.9036C18.8169 42.0411 19.0066 41.0004 19.0066 39.7871C19.0066 38.5796 18.8197 37.5504 18.4431 36.6965C18.1044 35.8792 17.5104 35.1934 16.7498 34.7415C15.9908 34.293 15.0276 34.0688 13.8604 34.0688H9.66575ZM11.9399 35.9231H13.5585C14.2715 35.9231 14.8522 36.0669 15.3094 36.3601C15.7839 36.6704 16.1418 37.1296 16.3271 37.6654C16.5542 38.2432 16.6664 38.9649 16.6664 39.8302C16.6753 40.4037 16.6096 40.9758 16.4709 41.5322C16.3684 41.9711 16.1766 42.3841 15.9074 42.7455C15.6572 43.0679 15.3258 43.318 14.9471 43.47C14.5034 43.636 14.0321 43.716 13.5585 43.7057H11.9399V35.9231ZM22.701 40.9917V44.4302C22.701 45.0574 22.1926 45.5659 21.5654 45.5659C20.9382 45.5659 20.4297 45.0574 20.4297 44.4302V34.0688H26.8166C27.335 34.0688 27.7553 34.489 27.7553 35.0074C27.7553 35.5259 27.335 35.9461 26.8166 35.9461H22.701V39.1575H26.4011C26.9076 39.1575 27.3182 39.5681 27.3182 40.0746C27.3182 40.5811 26.9076 40.9917 26.4011 40.9917H22.701Z" fill="#00A3E8"/>
            </svg>
          </div>
          <p class="doc-item__p p"><span>Довідка ЄДРП</span></p>
        </div>
        <div class="doc__item">
          <div class="doc-item__icon">
            <svg class="img-full" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M40.25 12.9375V40.25C40.25 41.775 39.6442 43.2375 38.5659 44.3159C37.4875 45.3942 36.025 46 34.5 46H33.0625C32.2686 46 31.625 45.3564 31.625 44.5625C31.625 43.7686 32.2686 43.125 33.0625 43.125H34.5C35.2625 43.125 35.9938 42.8221 36.5329 42.2829C37.0721 41.7438 37.375 41.0125 37.375 40.25V12.9375H31.625C30.4813 12.9375 29.3844 12.4831 28.5756 11.6744C27.7669 10.8656 27.3125 9.76875 27.3125 8.625V2.875H11.5C10.7375 2.875 10.0062 3.1779 9.46707 3.71707C8.9279 4.25624 8.625 4.9875 8.625 5.75V30.1875C8.625 30.9814 7.98141 31.625 7.1875 31.625C6.39359 31.625 5.75 30.9814 5.75 30.1875V5.75C5.75 4.22501 6.3558 2.76247 7.43414 1.68414C8.51247 0.605802 9.97501 0 11.5 0L27.3125 0L40.25 12.9375ZM4.6 34.0688H0V44.4288C0 45.0568 0.50908 45.5659 1.13706 45.5659C1.76504 45.5659 2.27412 45.0568 2.27412 44.4288V41.7076H4.58275C5.40787 41.7076 6.10937 41.5437 6.68725 41.2102C7.27087 40.8739 7.7165 40.4196 8.01837 39.8475C8.33171 39.2471 8.49078 38.5783 8.48125 37.9011C8.48125 37.1824 8.32887 36.5326 8.027 35.9547C7.72674 35.3803 7.26768 34.9043 6.7045 34.5834C6.1295 34.2384 5.43087 34.0688 4.6 34.0688ZM6.16687 37.9011C6.17724 38.2799 6.09326 38.6553 5.9225 38.9936C5.7693 39.2882 5.53084 39.5296 5.23825 39.6865C4.90357 39.8521 4.53337 39.933 4.16013 39.9222H2.2655V35.88H4.163C4.78975 35.88 5.28137 36.0525 5.635 36.4004C5.98863 36.7511 6.16687 37.2514 6.16687 37.9011ZM9.66575 34.0688V45.5659H13.8632C15.0161 45.5659 15.9735 45.3359 16.7325 44.8845C17.5006 44.425 18.1004 43.7304 18.4431 42.9036C18.8169 42.0411 19.0066 41.0004 19.0066 39.7871C19.0066 38.5796 18.8197 37.5504 18.4431 36.6965C18.1044 35.8792 17.5104 35.1934 16.7498 34.7415C15.9908 34.293 15.0276 34.0688 13.8604 34.0688H9.66575ZM11.9399 35.9231H13.5585C14.2715 35.9231 14.8522 36.0669 15.3094 36.3601C15.7839 36.6704 16.1418 37.1296 16.3271 37.6654C16.5542 38.2432 16.6664 38.9649 16.6664 39.8302C16.6753 40.4037 16.6096 40.9758 16.4709 41.5322C16.3684 41.9711 16.1766 42.3841 15.9074 42.7455C15.6572 43.0679 15.3258 43.318 14.9471 43.47C14.5034 43.636 14.0321 43.716 13.5585 43.7057H11.9399V35.9231ZM22.701 40.9917V44.4302C22.701 45.0574 22.1926 45.5659 21.5654 45.5659C20.9382 45.5659 20.4297 45.0574 20.4297 44.4302V34.0688H26.8166C27.335 34.0688 27.7553 34.489 27.7553 35.0074C27.7553 35.5259 27.335 35.9461 26.8166 35.9461H22.701V39.1575H26.4011C26.9076 39.1575 27.3182 39.5681 27.3182 40.0746C27.3182 40.5811 26.9076 40.9917 26.4011 40.9917H22.701Z" fill="#00A3E8"/>
            </svg>
          </div>
          <p class="doc-item__p p"><span>Свідоцтво</span></p>
        </div>
        <div class="doc__item">
          <div class="doc-item__icon">
            <svg class="img-full" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M40.25 12.9375V40.25C40.25 41.775 39.6442 43.2375 38.5659 44.3159C37.4875 45.3942 36.025 46 34.5 46H33.0625C32.2686 46 31.625 45.3564 31.625 44.5625C31.625 43.7686 32.2686 43.125 33.0625 43.125H34.5C35.2625 43.125 35.9938 42.8221 36.5329 42.2829C37.0721 41.7438 37.375 41.0125 37.375 40.25V12.9375H31.625C30.4813 12.9375 29.3844 12.4831 28.5756 11.6744C27.7669 10.8656 27.3125 9.76875 27.3125 8.625V2.875H11.5C10.7375 2.875 10.0062 3.1779 9.46707 3.71707C8.9279 4.25624 8.625 4.9875 8.625 5.75V30.1875C8.625 30.9814 7.98141 31.625 7.1875 31.625C6.39359 31.625 5.75 30.9814 5.75 30.1875V5.75C5.75 4.22501 6.3558 2.76247 7.43414 1.68414C8.51247 0.605802 9.97501 0 11.5 0L27.3125 0L40.25 12.9375ZM4.6 34.0688H0V44.4288C0 45.0568 0.50908 45.5659 1.13706 45.5659C1.76504 45.5659 2.27412 45.0568 2.27412 44.4288V41.7076H4.58275C5.40787 41.7076 6.10937 41.5437 6.68725 41.2102C7.27087 40.8739 7.7165 40.4196 8.01837 39.8475C8.33171 39.2471 8.49078 38.5783 8.48125 37.9011C8.48125 37.1824 8.32887 36.5326 8.027 35.9547C7.72674 35.3803 7.26768 34.9043 6.7045 34.5834C6.1295 34.2384 5.43087 34.0688 4.6 34.0688ZM6.16687 37.9011C6.17724 38.2799 6.09326 38.6553 5.9225 38.9936C5.7693 39.2882 5.53084 39.5296 5.23825 39.6865C4.90357 39.8521 4.53337 39.933 4.16013 39.9222H2.2655V35.88H4.163C4.78975 35.88 5.28137 36.0525 5.635 36.4004C5.98863 36.7511 6.16687 37.2514 6.16687 37.9011ZM9.66575 34.0688V45.5659H13.8632C15.0161 45.5659 15.9735 45.3359 16.7325 44.8845C17.5006 44.425 18.1004 43.7304 18.4431 42.9036C18.8169 42.0411 19.0066 41.0004 19.0066 39.7871C19.0066 38.5796 18.8197 37.5504 18.4431 36.6965C18.1044 35.8792 17.5104 35.1934 16.7498 34.7415C15.9908 34.293 15.0276 34.0688 13.8604 34.0688H9.66575ZM11.9399 35.9231H13.5585C14.2715 35.9231 14.8522 36.0669 15.3094 36.3601C15.7839 36.6704 16.1418 37.1296 16.3271 37.6654C16.5542 38.2432 16.6664 38.9649 16.6664 39.8302C16.6753 40.4037 16.6096 40.9758 16.4709 41.5322C16.3684 41.9711 16.1766 42.3841 15.9074 42.7455C15.6572 43.0679 15.3258 43.318 14.9471 43.47C14.5034 43.636 14.0321 43.716 13.5585 43.7057H11.9399V35.9231ZM22.701 40.9917V44.4302C22.701 45.0574 22.1926 45.5659 21.5654 45.5659C20.9382 45.5659 20.4297 45.0574 20.4297 44.4302V34.0688H26.8166C27.335 34.0688 27.7553 34.489 27.7553 35.0074C27.7553 35.5259 27.335 35.9461 26.8166 35.9461H22.701V39.1575H26.4011C26.9076 39.1575 27.3182 39.5681 27.3182 40.0746C27.3182 40.5811 26.9076 40.9917 26.4011 40.9917H22.701Z" fill="#00A3E8"/>
            </svg>
          </div>
          <p class="doc-item__p p"><span>Рішення</span></p>
        </div>
        <div class="doc__item">
          <div class="doc-item__icon">
            <svg class="img-full" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M40.25 12.9375V40.25C40.25 41.775 39.6442 43.2375 38.5659 44.3159C37.4875 45.3942 36.025 46 34.5 46H33.0625C32.2686 46 31.625 45.3564 31.625 44.5625C31.625 43.7686 32.2686 43.125 33.0625 43.125H34.5C35.2625 43.125 35.9938 42.8221 36.5329 42.2829C37.0721 41.7438 37.375 41.0125 37.375 40.25V12.9375H31.625C30.4813 12.9375 29.3844 12.4831 28.5756 11.6744C27.7669 10.8656 27.3125 9.76875 27.3125 8.625V2.875H11.5C10.7375 2.875 10.0062 3.1779 9.46707 3.71707C8.9279 4.25624 8.625 4.9875 8.625 5.75V30.1875C8.625 30.9814 7.98141 31.625 7.1875 31.625C6.39359 31.625 5.75 30.9814 5.75 30.1875V5.75C5.75 4.22501 6.3558 2.76247 7.43414 1.68414C8.51247 0.605802 9.97501 0 11.5 0L27.3125 0L40.25 12.9375ZM4.6 34.0688H0V44.4288C0 45.0568 0.50908 45.5659 1.13706 45.5659C1.76504 45.5659 2.27412 45.0568 2.27412 44.4288V41.7076H4.58275C5.40787 41.7076 6.10937 41.5437 6.68725 41.2102C7.27087 40.8739 7.7165 40.4196 8.01837 39.8475C8.33171 39.2471 8.49078 38.5783 8.48125 37.9011C8.48125 37.1824 8.32887 36.5326 8.027 35.9547C7.72674 35.3803 7.26768 34.9043 6.7045 34.5834C6.1295 34.2384 5.43087 34.0688 4.6 34.0688ZM6.16687 37.9011C6.17724 38.2799 6.09326 38.6553 5.9225 38.9936C5.7693 39.2882 5.53084 39.5296 5.23825 39.6865C4.90357 39.8521 4.53337 39.933 4.16013 39.9222H2.2655V35.88H4.163C4.78975 35.88 5.28137 36.0525 5.635 36.4004C5.98863 36.7511 6.16687 37.2514 6.16687 37.9011ZM9.66575 34.0688V45.5659H13.8632C15.0161 45.5659 15.9735 45.3359 16.7325 44.8845C17.5006 44.425 18.1004 43.7304 18.4431 42.9036C18.8169 42.0411 19.0066 41.0004 19.0066 39.7871C19.0066 38.5796 18.8197 37.5504 18.4431 36.6965C18.1044 35.8792 17.5104 35.1934 16.7498 34.7415C15.9908 34.293 15.0276 34.0688 13.8604 34.0688H9.66575ZM11.9399 35.9231H13.5585C14.2715 35.9231 14.8522 36.0669 15.3094 36.3601C15.7839 36.6704 16.1418 37.1296 16.3271 37.6654C16.5542 38.2432 16.6664 38.9649 16.6664 39.8302C16.6753 40.4037 16.6096 40.9758 16.4709 41.5322C16.3684 41.9711 16.1766 42.3841 15.9074 42.7455C15.6572 43.0679 15.3258 43.318 14.9471 43.47C14.5034 43.636 14.0321 43.716 13.5585 43.7057H11.9399V35.9231ZM22.701 40.9917V44.4302C22.701 45.0574 22.1926 45.5659 21.5654 45.5659C20.9382 45.5659 20.4297 45.0574 20.4297 44.4302V34.0688H26.8166C27.335 34.0688 27.7553 34.489 27.7553 35.0074C27.7553 35.5259 27.335 35.9461 26.8166 35.9461H22.701V39.1575H26.4011C26.9076 39.1575 27.3182 39.5681 27.3182 40.0746C27.3182 40.5811 26.9076 40.9917 26.4011 40.9917H22.701Z" fill="#00A3E8"/>
            </svg>
          </div>
          <p class="doc-item__p p"><span>Протокол</span></p>
        </div>
      </div>
    </div>
  </div>
</section>