<section class="ht">
  <div class="md">
    <div class="ht__wrap">
      <div class="ht__body">
        <h2 class="ht-body__title smtitle">Допомагаймо разом!</h2>
        <p class="ht-body__p p">Фонду «Співдружність слов’ян» потребує підтримки однодумців. 
          Ви можете допомогти фонду підтримати українців, зробивши донат. 
          Важливо пам’ятати, що навіть найменша сума може врятувати чиєсь життя. Кожен може стати партнером фонду та підтримати нашу роботу фінансово.</p>
        <a href="#" class="ht-body__btn btn">Підтримати</a>
      </div>
      <div class="ht__pic">
        <img src="@img/help-together.jpg" alt="" loading="lazy" class="img-full">
      </div>
    </div>
  </div>
</section>