<section class="help">
  <div class="md">
    <div class="help__wrap">
      <div class="help__pic">
        <img src="@img/help.jpg" alt="" loading="lazy" class="img-full">
      </div>
      <div class="help__body">
        <h2 class="help-body__title smtitle">Створений допомагати</h2>
        <p class="help-body__p p">Благодійний фонд «Співдружність слов’ян» існує з 2008 року.<br class="mob-none">
          Він був створений для надання послуг найнезахищенішим громадянам:<br class="mob-none"> пенсіонерам, інвалідам, багатодітним сім’ям
          та іншим малозабезпеченим<br class="mob-none"> верствам населення. «Співдружність слов’ян» — це спільнота людей, яка<br class="mob-none">
          завжди прийде на допомогу тим, хто цього потребує.</p>
        <p class="help-body__p p">У зв'язку з обставинами, що склалися нашій країні, благодійний фонд<br class="mob-none"> «Співдружність
          слов'ян» змушений приховувати інформацію про членів<br class="mob-none">
          та діяльність в умовах воєнного стану. Ми не афішуємо особисті дані та не<br class="mob-none"> витрачаємо час на рекламу. Ми просто
          працюємо 24/7 задля щасливого<br class="mob-none"> майбутнього наших громадян та країни.
        </p>
        <p class="help-body__p p"><span>Змінити світ може кожен. Зробімо це разом вже сьогодні!
          </span></p>
        <a href="#" class="help-body__btn btn">Приєднатись</a>
      </div>
    </div>
  </div>
</section>