<section class="hero">
  <div class="md">
    <div class="hero__wrap">
      <div class="hero__body">
        <h4 class="hero-body__subtitle">Благодійний фонд</h4>
        <h1 class="hero-body__title ttitle">Співдружність слов’ян</h1>
        <div class="hero-body__text">
          <p class="hero-body__p">Надаємо послуги найбільш незахищеним верствам населення.</p>
          <p class="hero-body__p">Приймаємо донати та реалізуємо масштабні проєкти разом!</p>
        </div>
        <a href="#" class="hero-body__btn btn">Підтримати</a>
      </div>
      <div class="hero__pic">
        <div class="hero-pic__img">
          <img src="@img/hero-img1.jpg" alt="" loading="lazy" class="img-full">
        </div>
        <div class="hero-pic__img">
          <img src="@img/hero-img2.jpg" alt="" loading="lazy" class="img-full">
        </div>
        <div class="hero-pic__img">
          <img src="@img/hero-img3.jpg" alt="" loading="lazy" class="img-full">
        </div>
        <div class="hero-pic__img">
          <img src="@img/hero-img4.jpg" alt="" loading="lazy" class="img-full">
        </div>
      </div>
      <div class="contact hero__contact">
        <a href="tel:+380972528727400" class="contact__phone">
          <svg class="ic--phone" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_102_149)">
            <path d="M14.997 16.5C6.46601 16.512 -0.00899063 9.96 9.3707e-06 1.503C9.3707e-06 0.95 0.448009 0.5 1.00001 0.5H3.64001C4.13501 0.5 4.55601 0.864 4.62901 1.354C4.80311 2.52905 5.14493 3.67305 5.64401 4.751L5.74701 4.973C5.8162 5.12239 5.83108 5.29124 5.78909 5.45043C5.7471 5.60962 5.65088 5.74917 5.51701 5.845C4.69901 6.429 4.38701 7.604 5.02401 8.52C5.82599 9.67333 6.82695 10.6746 7.98001 11.477C8.89701 12.113 10.072 11.801 10.655 10.984C10.7507 10.8497 10.8904 10.7531 11.0498 10.711C11.2092 10.6688 11.3784 10.6836 11.528 10.753L11.749 10.855C12.827 11.355 13.971 11.697 15.146 11.871C15.636 11.944 16 12.365 16 12.861V15.5C16 15.6314 15.9741 15.7615 15.9238 15.8829C15.8735 16.0043 15.7997 16.1146 15.7068 16.2075C15.6138 16.3003 15.5034 16.374 15.382 16.4242C15.2606 16.4744 15.1304 16.5001 14.999 16.5H14.997Z" fill="#00A3E8"/>
            </g>
            <defs>
            <clipPath id="clip0_102_149">
            <rect width="16" height="17" fill="white"/>
            </clipPath>
            </defs>
          </svg>
          <span>+38 (097) 2528727400</span>
        </a>
        <a href="#" class="contact__social">
          <svg class="ic--telegram" width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.44343 8.29429C7.08164 5.84634 10.8404 4.23234 12.7198 3.45259C18.0922 1.226 19.2071 0.839296 19.9353 0.826194C20.0954 0.823634 20.452 0.863088 20.6846 1.05057C20.878 1.20869 20.9324 1.42252 20.9596 1.57266C20.9838 1.72264 21.017 2.06448 20.9898 2.33132C20.6998 5.37921 19.4398 12.7755 18.7992 16.1893C18.5303 17.6337 17.9955 18.118 17.4788 18.1653C16.3548 18.2683 15.5027 17.4256 14.4149 16.7152C12.7138 15.6029 11.7529 14.9108 10.1002 13.8257C8.19055 12.5716 9.42938 11.8822 10.5171 10.7558C10.8012 10.4609 15.7505 5.97494 15.8441 5.56805C15.8562 5.51715 15.8683 5.32741 15.7535 5.22742C15.6417 5.12713 15.4755 5.16146 15.3546 5.18857C15.1824 5.22712 12.466 7.01851 7.19646 10.5624C6.42596 11.0907 5.72798 11.3482 5.0995 11.3347C4.41059 11.3199 3.08111 10.9455 2.09306 10.6257C0.884445 10.2333 -0.0794292 10.0257 0.00517413 9.35925C0.0474758 9.01229 0.527902 8.65721 1.44343 8.29429Z" fill="#00A3E8"/>
          </svg>            
          <span>@telegram</span>
        </a>
        <a href="#" class="contact__social">
          <svg class="ic--whatsapp" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_70_311)">
            <path d="M0.00401338 20.5L1.35601 15.532C0.465151 14.0049 -0.00289063 12.268 1.34322e-05 10.5C1.34322e-05 4.977 4.47701 0.5 10 0.5C15.523 0.5 20 4.977 20 10.5C20 16.023 15.523 20.5 10 20.5C8.23279 20.5029 6.49667 20.0352 4.97001 19.145L0.00401338 20.5ZM6.39101 5.808C6.26188 5.81602 6.13569 5.85003 6.02001 5.908C5.91153 5.96943 5.81251 6.04622 5.72601 6.136C5.60601 6.249 5.53801 6.347 5.46501 6.442C5.09542 6.923 4.89662 7.51342 4.90001 8.12C4.90201 8.61 5.03001 9.087 5.23001 9.533C5.63901 10.435 6.31201 11.39 7.20101 12.275C7.41501 12.488 7.62401 12.702 7.84901 12.901C8.9524 13.8725 10.2673 14.573 11.689 14.947L12.258 15.034C12.443 15.044 12.628 15.03 12.814 15.021C13.1053 15.006 13.3896 14.9271 13.647 14.79C13.778 14.7225 13.9058 14.6491 14.03 14.57C14.03 14.57 14.073 14.542 14.155 14.48C14.29 14.38 14.373 14.309 14.485 14.192C14.568 14.106 14.64 14.005 14.695 13.89C14.773 13.727 14.851 13.416 14.883 13.157C14.907 12.959 14.9 12.851 14.897 12.784C14.893 12.677 14.804 12.566 14.707 12.519L14.125 12.258C14.125 12.258 13.255 11.879 12.724 11.637C12.668 11.6126 12.608 11.5987 12.547 11.596C12.4786 11.589 12.4095 11.5967 12.3443 11.6186C12.2791 11.6405 12.2193 11.6761 12.169 11.723V11.721C12.164 11.721 12.097 11.778 11.374 12.654C11.3325 12.7098 11.2754 12.7519 11.2098 12.7751C11.1443 12.7982 11.0733 12.8013 11.006 12.784C10.9409 12.7666 10.877 12.7445 10.815 12.718C10.691 12.666 10.648 12.646 10.563 12.609L10.558 12.607C9.98592 12.3572 9.45624 12.0198 8.98801 11.607C8.86201 11.497 8.74501 11.377 8.62501 11.261C8.23159 10.8842 7.88873 10.458 7.60501 9.993L7.54601 9.898C7.50364 9.83416 7.46937 9.7653 7.44401 9.693C7.40601 9.546 7.50501 9.428 7.50501 9.428C7.50501 9.428 7.74801 9.162 7.86101 9.018C7.9551 8.89832 8.04289 8.77382 8.12401 8.645C8.24201 8.455 8.27901 8.26 8.21701 8.109C7.93701 7.425 7.64701 6.744 7.34901 6.068C7.29001 5.934 7.11501 5.838 6.95601 5.819C6.90201 5.813 6.84801 5.807 6.79401 5.803C6.65972 5.79633 6.52515 5.79766 6.39101 5.807V5.808Z" fill="#00A3E8"/>
            </g>
            <defs>
            <clipPath id="clip0_70_311">
            <rect width="20" height="20" fill="white" transform="translate(0 0.5)"/>
            </clipPath>
            </defs>
          </svg>            
          <span>@whatsapp</span>
        </a>
      </div>
    </div>
  </div>
</section>