<section class="nh">
  <div class="md">
    <div class="nh__body">
      <h2 class="nh-body__title smtitle">потрiбна допомога?</h2>
      <p class="nh-body__p p">Якщо ви чи ваші близькі потребуєте допомоги, зверніться до фонду «Співдружність слов'ян»! Ми обов’язково розглянемо вашу заявку, і навіть якщо вона не в нашій компетенції ми передамо її партнерам або профільним організаціям з якими співпрацює наш фонд.
      </p>
      <a href="#" class="nh-body__btn btn">Залишити заявку</a>
    </div>
  </div>
</section>