<section class="plans">
  <div class="md">
    <div class="plans__wrap">
      <div class="plans__body">
        <h2 class="plans-body__title smtitle">Амбітні плани</h2>
        <p class="plans-body__p p"><span>План роботи фонду «Співдружність слов’ян» з 18 липня 2022 року та до закінчення військового стані в Україні.
        </span></p>
        <p class="plans-body__p p">Відповідно до статуту фонду та одноголосного рішення учасникам засідання фонду створено програму роботи фонду на найближчий час. Маємо наступні завдання:</p>
      </div>
      <div class="plans__info">
        <div class="plans-info__col plans-info__col_left">
          <div class="plans-info__item plans__item" id="plans-item1">
            <div class="plans-item__pic">
              <img src="@img/plans-gray1.jpg" alt="" loading="lazy" class="plans-item__pic_gray img-full">
              <img src="@img/plans-color1.jpg" alt="" loading="lazy" class="plans-item__pic_color img-full">
            </div>
            <div class="plans-item__body">
              <h2 class="plans-item-body__title ttitle">01</h2>
              <div class="plans-item-body__line"></div>
              <p class="plans-item-body__p p">Організація волонтерського руху на території України та за кордоном.</p>
            </div>
          </div>
          <div class="plans-info__item plans__item" id="plans-item2">
            <div class="plans-item__pic">
              <img src="@img/plans-gray2.jpg" alt="" loading="lazy" class="plans-item__pic_gray img-full">
              <img src="@img/plans-color2.jpg" alt="" loading="lazy" class="plans-item__pic_color img-full">
            </div>
            <div class="plans-item__body">
              <h2 class="plans-item-body__title ttitle">02</h2>
              <div class="plans-item-body__line"></div>
              <p class="plans-item-body__p p">Організація волонтерського руху на території України та за кордоном.</p>
            </div>
          </div>
        </div>
        <div class="plans-info__col plans-info__col_right">
          <div class="plans-info__item plans__item" id="plans-item3">
            <div class="plans-item__pic">
              <img src="@img/plans-gray3.jpg" alt="" loading="lazy" class="plans-item__pic_gray img-full">
              <img src="@img/plans-color3.jpg" alt="" loading="lazy" class="plans-item__pic_color img-full">
            </div>
            <div class="plans-item__body">
              <h2 class="plans-item-body__title ttitle">03</h2>
              <div class="plans-item-body__line"></div>
              <p class="plans-item-body__p p">Організація волонтерського руху на території України та за кордоном.</p>
            </div>
          </div>
          <div class="plans-info__item plans__item" id="plans-item4">
            <div class="plans-item__pic">
              <img src="@img/plans-gray4.jpg" alt="" loading="lazy" class="plans-item__pic_gray img-full">
              <img src="@img/plans-color4.jpg" alt="" loading="lazy" class="plans-item__pic_color img-full">
            </div>
            <div class="plans-item__body">
              <h2 class="plans-item-body__title ttitle">04</h2>
              <div class="plans-item-body__line"></div>
              <p class="plans-item-body__p p">Організація волонтерського руху на території України та за кордоном.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>