<section class="props">
  <div class="md">
    <div class="props__wrap">
      <h2 class="props__title smtitle">Реквізити</h2>
      <div class="props__body">
        <div class="props__head">
          <div class="props-head__title">Номер рахунку</div>
          <div class="props-head__title">Валюта</div>
          <div class="props-head__title">IBAN</div>
        </div>
        <div class="props__content">
          <div class="props-content__item"><p class="p">26004000002402</p></div>
          <div class="props-content__item"><p class="p">Долар США</p></div>
          <div class="props-content__item"><p class="p">UA703003460000026004000002402</p></div>
        </div>
        <div class="props__content">
          <div class="props-content__item"><p class="p">26004000002402</p></div>
          <div class="props-content__item"><p class="p">Євpo</p></div>
          <div class="props-content__item"><p class="p">UA703003460000026004000002402</p></div>
        </div>
        <div class="props__content">
          <div class="props-content__item"><p class="p">26004000002402</p></div>
          <div class="props-content__item"><p class="p">Гривня</p></div>
          <div class="props-content__item"><p class="p">UA703003460000026004000002402</p></div>
        </div>
      </div>
    </div>
  </div>
</section>