<section class="question">
  <div class="md">
    <div class="question__wrap">
      <h2 class="question__title smtitle">Часті запитання</h2>
      <div class="question__body">
        <div class="question__item ui accordion">
          <div class="question-item__head title">
            <div class="question-item-head__num ttitle">01</div>
            <p class="question-item-head__p p"><span>Кому допомагає благодійний фонд «Співдружність слов'ян»?
            </span></p>
            <div class="question-item-head__arrow">
              <svg class="img-full" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" transform="matrix(1.19249e-08 -1 -1 -1.19249e-08 25 25)" fill="#00A3E8"/>
                <path d="M25 18L25 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 25L25 32L32 25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                
            </div>
          </div>
          <div class="question-item__content content">
            <p class="question-item-content__p p">Допомагаємо всім: від простих громадян до військових підрозділів, відповідно до наших можливостей. </p>
          </div>
        </div>
        <div class="question__item ui accordion">
          <div class="question-item__head title">
            <div class="question-item-head__num ttitle">02</div>
            <p class="question-item-head__p p"><span>Як правильно звернутися за допомогою?
            </span></p>
            <div class="question-item-head__arrow">
              <svg class="img-full" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" transform="matrix(1.19249e-08 -1 -1 -1.19249e-08 25 25)" fill="#00A3E8"/>
                <path d="M25 18L25 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 25L25 32L32 25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                
            </div>
          </div>
          <div class="question-item__content content">
            <p class="question-item-content__p p">Допомагаємо всім: від простих громадян до військових підрозділів, відповідно до наших можливостей. </p>
          </div>
        </div>
        <div class="question__item ui accordion">
          <div class="question-item__head title">
            <div class="question-item-head__num ttitle">03</div>
            <p class="question-item-head__p p"><span>Я подав/ла запит. Коли зі мною зв’яжуться?</span></p>
            <div class="question-item-head__arrow">
              <svg class="img-full" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" transform="matrix(1.19249e-08 -1 -1 -1.19249e-08 25 25)" fill="#00A3E8"/>
                <path d="M25 18L25 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 25L25 32L32 25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                
            </div>
          </div>
          <div class="question-item__content content">
            <p class="question-item-content__p p">Допомагаємо всім: від простих громадян до військових підрозділів, відповідно до наших можливостей. </p>
          </div>
        </div>
        <div class="question__item ui accordion">
          <div class="question-item__head title">
            <div class="question-item-head__num ttitle">04</div>
            <p class="question-item-head__p p"><span>Як підтримати проєкти фонду?</span></p>
            <div class="question-item-head__arrow">
              <svg class="img-full" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" transform="matrix(1.19249e-08 -1 -1 -1.19249e-08 25 25)" fill="#00A3E8"/>
                <path d="M25 18L25 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 25L25 32L32 25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                
            </div>
          </div>
          <div class="question-item__content content">
            <p class="question-item-content__p p">Допомагаємо всім: від простих громадян до військових підрозділів, відповідно до наших можливостей. </p>
          </div>
        </div>
        <div class="question__item ui accordion">
          <div class="question-item__head title">
            <div class="question-item-head__num ttitle">05</div>
            <p class="question-item-head__p p"><span>Як перевірити на що витрачені мої кошти?</span></p>
            <div class="question-item-head__arrow">
              <svg class="img-full" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" transform="matrix(1.19249e-08 -1 -1 -1.19249e-08 25 25)" fill="#00A3E8"/>
                <path d="M25 18L25 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 25L25 32L32 25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>                
            </div>
          </div>
          <div class="question-item__content content">
            <p class="question-item-content__p p">Допомагаємо всім: від простих громадян до військових підрозділів, відповідно до наших можливостей. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>