<section class="support">
  <div class="md">
    <div class="support__wrap">
      <div class="support__head">
        <h2 class="support-head__title smtitle">Підтримаємо кожного</h2>
        <p class="support-head__p p">Через воєнні дії в Україні погіршилися житлові умови громадян. Багато людей
          потребують медичної, фінансової, технічної та інших видів допомоги. У зв’язку з цим благодійний фонд
          «Співдружність слов'ян» розпочинає збір благодійної допомоги:</p>
      </div>
      <div class="support__body">
        <div class="support-body__item" id="support-item1">
          <p class="support-body-item__p p">Для забезпечення військових (ЗСУ, ТрО),
            що захищають нашу країну від окупантів</p>
          <div class="support-body-item__pic">
            <img src="@img/support-img1.jpg" alt="" loading="lazy" class="img-full">
          </div>
        </div>
        <div class="support-body__item" id="support-item2">
          <p class="support-body-item__p p">Для забезпечення військових (ЗСУ, ТрО),
            що захищають нашу країну від окупантів</p>
          <div class="support-body-item__pic">
            <img src="@img/support-img2.jpg" alt="" loading="lazy" class="img-full">
          </div>
        </div>
        <div class="support-body__item" id="support-item3">
          <p class="support-body-item__p p">Для забезпечення військових (ЗСУ, ТрО),
            що захищають нашу країну від окупантів</p>
          <div class="support-body-item__pic">
            <img src="@img/support-img3.jpg" alt="" loading="lazy" class="img-full">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>