<footer class="footer">
  <div class="md">
    <div class="footer__wrap">
      <a href="#" class="footer__logo">
        <svg class="img-full" width="379" height="77" viewBox="0 0 379 77" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M102 57.944C100.624 57.944 99.3888 57.7312 98.295 57.3058C97.2012 56.8803 96.275 56.2598 95.5164 55.4443C94.7578 54.6111 94.1756 53.6007 93.7699 52.4129C93.3641 51.2251 93.1613 49.8601 93.1613 48.3178C93.1613 46.7755 93.3906 45.4105 93.8493 44.2227C94.3256 43.0349 94.9695 42.0333 95.781 41.2179C96.5926 40.3847 97.5452 39.7553 98.639 39.3299C99.7328 38.9044 100.906 38.6917 102.158 38.6917C102.917 38.6917 103.605 38.7537 104.223 38.8778C104.84 38.9842 105.378 39.1083 105.837 39.2501C106.295 39.3919 106.675 39.5426 106.975 39.7021C107.275 39.8617 107.486 39.9769 107.61 40.0478L106.631 42.7868C106.207 42.5208 105.599 42.2727 104.805 42.0422C104.029 41.794 103.182 41.6699 102.264 41.6699C101.47 41.6699 100.73 41.8117 100.041 42.0954C99.3535 42.3613 98.7537 42.769 98.242 43.3186C97.7481 43.8681 97.36 44.5595 97.0777 45.3927C96.7954 46.2259 96.6543 47.1921 96.6543 48.2912C96.6543 49.2662 96.7601 50.1615 96.9718 50.977C97.2012 51.7924 97.5452 52.5015 98.0039 53.1043C98.4626 53.6893 99.0447 54.1502 99.7504 54.487C100.456 54.8061 101.303 54.9657 102.291 54.9657C103.473 54.9657 104.434 54.8505 105.175 54.62C105.916 54.3718 106.49 54.1414 106.895 53.9286L107.795 56.6676C107.583 56.8094 107.292 56.9512 106.922 57.093C106.569 57.2348 106.146 57.3767 105.652 57.5185C105.158 57.6426 104.602 57.7401 103.984 57.811C103.367 57.8996 102.705 57.944 102 57.944Z"
            fill="#00A3E8" />
          <path d="M122.077 43.6377V57.5451H118.875V46.3234H113.767V57.5451H110.565V43.6377H122.077Z" fill="#00A3E8" />
          <path
            d="M129.377 57.5451H126.175V43.6377H129.377V57.5451ZM129.721 39.5692C129.721 40.1719 129.527 40.6506 129.139 41.0051C128.751 41.3597 128.292 41.537 127.763 41.537C127.216 41.537 126.748 41.3597 126.36 41.0051C125.972 40.6506 125.778 40.1719 125.778 39.5692C125.778 38.9487 125.972 38.4612 126.36 38.1066C126.748 37.7521 127.216 37.5748 127.763 37.5748C128.292 37.5748 128.751 37.7521 129.139 38.1066C129.527 38.4612 129.721 38.9487 129.721 39.5692Z"
            fill="#00A3E8" />
          <path
            d="M138.966 57.811C138.454 57.811 137.934 57.7933 137.405 57.7578C136.875 57.7224 136.364 57.678 135.87 57.6249C135.393 57.5717 134.944 57.5185 134.52 57.4653C134.097 57.3944 133.744 57.3235 133.462 57.2526V43.8238C133.744 43.7529 134.097 43.6909 134.52 43.6377C134.944 43.5668 135.393 43.5136 135.87 43.4781C136.364 43.425 136.875 43.3895 137.405 43.3718C137.934 43.3363 138.454 43.3186 138.966 43.3186C140.836 43.3186 142.291 43.6643 143.332 44.3557C144.373 45.0293 144.893 45.9777 144.893 47.201C144.893 47.8392 144.735 48.4064 144.417 48.9028C144.1 49.3992 143.685 49.7715 143.173 50.0197C143.809 50.2679 144.355 50.6579 144.814 51.1897C145.273 51.7215 145.502 52.475 145.502 53.45C145.502 54.8505 144.955 55.9319 143.861 56.6941C142.768 57.4387 141.136 57.811 138.966 57.811ZM139.045 49.2219C139.839 49.2219 140.492 49.1067 141.004 48.8762C141.533 48.6458 141.797 48.1848 141.797 47.4935C141.797 47.1566 141.709 46.8819 141.533 46.6691C141.374 46.4564 141.153 46.288 140.871 46.1639C140.589 46.0398 140.263 45.96 139.892 45.9246C139.522 45.8714 139.134 45.8448 138.728 45.8448C138.41 45.8448 138.04 45.8537 137.616 45.8714C137.211 45.8891 136.884 45.9157 136.637 45.9512V49.2219H139.045ZM136.637 55.1518C136.849 55.1873 137.193 55.2227 137.669 55.2582C138.163 55.2759 138.622 55.2848 139.045 55.2848C139.998 55.2848 140.783 55.1518 141.4 54.8859C142.036 54.62 142.353 54.1148 142.353 53.3702C142.353 52.6434 142.062 52.147 141.48 51.8811C140.915 51.5974 140.174 51.4556 139.257 51.4556H136.637V55.1518Z"
            fill="#00A3E8" />
          <path
            d="M146.834 54.9125H148.422C148.969 54.1857 149.392 53.3791 149.692 52.4927C150.01 51.5886 150.239 50.649 150.38 49.674C150.521 48.6812 150.609 47.6707 150.645 46.6425C150.68 45.6143 150.706 44.6127 150.724 43.6377H160.648V54.9125H162.765V61.4806H159.907V57.5451H149.666V61.4806H146.834V54.9125ZM157.446 54.9125V46.2968H153.688C153.653 47.0237 153.609 47.7682 153.556 48.5305C153.503 49.2751 153.406 50.0197 153.265 50.7642C153.123 51.4911 152.929 52.209 152.682 52.9181C152.453 53.6095 152.144 54.2743 151.756 54.9125H157.446Z"
            fill="#00A3E8" />
          <path
            d="M174.456 50.6579C174.456 49.2219 174.13 48.1051 173.477 47.3073C172.842 46.5096 171.81 46.1107 170.381 46.1107C170.081 46.1107 169.763 46.1284 169.428 46.1639C169.111 46.1816 168.793 46.2348 168.475 46.3234V54.2743C168.758 54.4693 169.128 54.6555 169.587 54.8327C170.063 54.9923 170.566 55.0721 171.095 55.0721C172.26 55.0721 173.106 54.6732 173.636 53.8754C174.183 53.0777 174.456 52.0052 174.456 50.6579ZM177.737 50.6047C177.737 51.6683 177.596 52.6434 177.314 53.5298C177.049 54.4161 176.661 55.1784 176.15 55.8166C175.638 56.4548 174.994 56.9512 174.218 57.3058C173.459 57.6603 172.595 57.8376 171.625 57.8376C170.972 57.8376 170.372 57.7578 169.825 57.5983C169.278 57.4387 168.828 57.2614 168.475 57.0664V62.4645H165.274V44.0897C165.926 43.9125 166.729 43.7441 167.682 43.5845C168.634 43.425 169.64 43.3452 170.698 43.3452C171.792 43.3452 172.771 43.5136 173.636 43.8504C174.5 44.1872 175.232 44.6748 175.832 45.313C176.449 45.9334 176.917 46.6957 177.235 47.5998C177.57 48.4862 177.737 49.4878 177.737 50.6047Z"
            fill="#00A3E8" />
          <path
            d="M192.027 43.6377C190.598 48.9205 188.939 53.707 187.052 57.9971C186.699 58.7949 186.337 59.4774 185.967 60.0447C185.596 60.612 185.182 61.0818 184.723 61.454C184.264 61.8263 183.753 62.0922 183.188 62.2518C182.624 62.4291 181.971 62.5177 181.23 62.5177C180.736 62.5177 180.242 62.4645 179.748 62.3582C179.272 62.2518 178.91 62.1366 178.663 62.0125L179.245 59.4331C179.88 59.6813 180.507 59.8054 181.124 59.8054C181.953 59.8054 182.597 59.6015 183.056 59.1938C183.532 58.8037 183.947 58.1921 184.3 57.3589C183.294 55.4089 182.324 53.2816 181.389 50.977C180.471 48.6724 179.651 46.2259 178.928 43.6377H182.341C182.518 44.3823 182.729 45.1889 182.976 46.0575C183.241 46.9262 183.523 47.8126 183.823 48.7167C184.123 49.6031 184.441 50.4894 184.776 51.3758C185.111 52.2622 185.446 53.0866 185.782 53.8489C186.346 52.2711 186.875 50.5958 187.369 48.823C187.863 47.0325 188.313 45.3041 188.719 43.6377H192.027Z"
            fill="#00A3E8" />
          <path
            d="M192.676 57.5451C193.488 56.18 194.414 54.8682 195.455 53.6095C196.496 52.3331 197.546 51.1542 198.604 50.0728C197.598 48.9915 196.619 47.8923 195.667 46.7755C194.714 45.6409 193.876 44.595 193.153 43.6377H196.831C197.378 44.3823 198.013 45.2066 198.736 46.1107C199.477 47.0148 200.386 48.1228 201.462 49.4347V43.6377H204.558V49.4347C205.669 48.1405 206.587 47.0325 207.31 46.1107C208.033 45.1889 208.669 44.3645 209.215 43.6377H212.841C212.17 44.595 211.359 45.6321 210.406 46.7489C209.471 47.8657 208.483 48.9649 207.442 50.0463C208.607 51.2163 209.674 52.4129 210.644 53.6361C211.632 54.8593 212.541 56.1623 213.37 57.5451H209.798C209.445 57.0132 209.057 56.4548 208.633 55.8698C208.228 55.2848 207.795 54.7086 207.337 54.1414C206.896 53.5563 206.437 52.9979 205.961 52.4661C205.484 51.9343 205.017 51.4379 204.558 50.977V57.5451H201.462V50.977C201.003 51.4556 200.536 51.9697 200.059 52.5193C199.583 53.0688 199.116 53.6361 198.657 54.2211C198.216 54.7884 197.784 55.3557 197.36 55.923C196.955 56.4903 196.584 57.031 196.249 57.5451H192.676Z"
            fill="#00A3E8" />
          <path
            d="M227.257 57.5451H224.055V51.7215H218.842V57.5451H215.64V43.6377H218.842V49.0624H224.055V43.6377H227.257V57.5451Z"
            fill="#00A3E8" />
          <path
            d="M234.555 57.5451H231.353V43.6377H234.555V57.5451ZM234.899 39.5692C234.899 40.1719 234.705 40.6506 234.317 41.0051C233.928 41.3597 233.47 41.537 232.941 41.537C232.394 41.537 231.926 41.3597 231.538 41.0051C231.15 40.6506 230.956 40.1719 230.956 39.5692C230.956 38.9487 231.15 38.4612 231.538 38.1066C231.926 37.7521 232.394 37.5748 232.941 37.5748C233.47 37.5748 233.928 37.7521 234.317 38.1066C234.705 38.4612 234.899 38.9487 234.899 39.5692Z"
            fill="#00A3E8" />
          <path
            d="M237.872 50.6047C237.872 49.5765 238.031 48.6192 238.349 47.7328C238.666 46.8287 239.116 46.0487 239.698 45.3927C240.298 44.7368 241.021 44.2227 241.868 43.8504C242.715 43.4781 243.668 43.292 244.726 43.292C246.031 43.292 247.266 43.5313 248.431 44.01L247.743 46.6425C247.372 46.483 246.949 46.35 246.473 46.2437C246.014 46.1373 245.52 46.0841 244.991 46.0841C243.738 46.0841 242.785 46.483 242.133 47.2807C241.48 48.0608 241.154 49.1687 241.154 50.6047C241.154 51.9874 241.462 53.0866 242.08 53.902C242.697 54.6998 243.738 55.0987 245.202 55.0987C245.749 55.0987 246.287 55.0455 246.817 54.9391C247.346 54.8327 247.804 54.6998 248.193 54.5402L248.642 57.1994C248.29 57.3767 247.752 57.5362 247.028 57.678C246.323 57.8199 245.59 57.8908 244.832 57.8908C243.65 57.8908 242.618 57.7135 241.736 57.3589C240.871 56.9867 240.148 56.4814 239.566 55.8432C239.001 55.1873 238.578 54.4161 238.296 53.5298C238.013 52.6256 237.872 51.6506 237.872 50.6047Z"
            fill="#00A3E8" />
          <path d="M261.884 46.3234H257.411V57.5451H254.21V46.3234H249.764V43.6377H261.884V46.3234Z" fill="#00A3E8" />
          <path
            d="M267.477 48.7699C267.742 48.699 268.13 48.6369 268.641 48.5837C269.153 48.5305 269.665 48.5039 270.176 48.5039C270.97 48.5039 271.711 48.5926 272.399 48.7699C273.105 48.9471 273.713 49.2308 274.225 49.6208C274.737 49.9931 275.142 50.4806 275.442 51.0833C275.742 51.6683 275.892 52.3686 275.892 53.1841C275.892 54.0173 275.751 54.7264 275.469 55.3114C275.187 55.8964 274.781 56.3751 274.251 56.7473C273.722 57.1196 273.087 57.3944 272.346 57.5717C271.623 57.7489 270.811 57.8376 269.912 57.8376C268.871 57.8376 267.901 57.7844 267.001 57.678C266.101 57.5717 265.193 57.4121 264.275 57.1994V43.6377H267.477V48.7699ZM269.832 55.3114C270.732 55.3114 271.429 55.143 271.923 54.8061C272.434 54.4516 272.69 53.8932 272.69 53.1309C272.69 52.7409 272.602 52.4129 272.426 52.147C272.267 51.8811 272.046 51.6683 271.764 51.5088C271.499 51.3315 271.182 51.2074 270.811 51.1365C270.441 51.0656 270.053 51.0301 269.647 51.0301C269.277 51.0301 268.888 51.0479 268.483 51.0833C268.077 51.1011 267.742 51.1454 267.477 51.2163V55.1784C267.706 55.2139 268.042 55.2493 268.483 55.2848C268.941 55.3025 269.391 55.3114 269.832 55.3114Z"
            fill="#00A3E8" />
          <path
            d="M284.207 50.6047C284.207 49.5765 284.366 48.6192 284.684 47.7328C285.001 46.8287 285.451 46.0487 286.033 45.3927C286.633 44.7368 287.356 44.2227 288.203 43.8504C289.05 43.4781 290.003 43.292 291.061 43.292C292.367 43.292 293.602 43.5313 294.766 44.01L294.078 46.6425C293.707 46.483 293.284 46.35 292.808 46.2437C292.349 46.1373 291.855 46.0841 291.326 46.0841C290.073 46.0841 289.121 46.483 288.468 47.2807C287.815 48.0608 287.489 49.1687 287.489 50.6047C287.489 51.9874 287.797 53.0866 288.415 53.902C289.032 54.6998 290.073 55.0987 291.537 55.0987C292.084 55.0987 292.622 55.0455 293.152 54.9391C293.681 54.8327 294.14 54.6998 294.528 54.5402L294.978 57.1994C294.625 57.3767 294.087 57.5362 293.363 57.678C292.658 57.8199 291.926 57.8908 291.167 57.8908C289.985 57.8908 288.953 57.7135 288.071 57.3589C287.206 56.9867 286.483 56.4814 285.901 55.8432C285.336 55.1873 284.913 54.4161 284.631 53.5298C284.349 52.6256 284.207 51.6506 284.207 50.6047Z"
            fill="#00A3E8" />
          <path
            d="M303.321 46.2968C303.303 47.0769 303.277 47.8923 303.241 48.7433C303.206 49.5765 303.118 50.4008 302.977 51.2163C302.853 52.0318 302.65 52.8118 302.368 53.5563C302.086 54.3009 301.689 54.9746 301.177 55.5773C300.683 56.1623 300.057 56.6587 299.298 57.0664C298.557 57.4564 297.649 57.7046 296.573 57.811L296.123 55.1252C297.023 54.948 297.719 54.6643 298.213 54.2743C298.707 53.8666 299.087 53.3525 299.351 52.732C299.563 52.2711 299.722 51.7481 299.828 51.1631C299.951 50.5781 300.039 49.9665 300.092 49.3283C300.163 48.6724 300.207 48.0076 300.225 47.3339C300.242 46.6603 300.251 46.0043 300.251 45.3661V43.6377H310.042V57.5451H306.84V46.2968H303.321Z"
            fill="#00A3E8" />
          <path
            d="M326.642 50.5781C326.642 51.6772 326.483 52.6788 326.165 53.5829C325.848 54.487 325.398 55.2582 324.816 55.8964C324.233 56.5346 323.528 57.031 322.699 57.3855C321.887 57.7401 320.987 57.9174 319.999 57.9174C319.012 57.9174 318.112 57.7401 317.3 57.3855C316.489 57.031 315.792 56.5346 315.21 55.8964C314.628 55.2582 314.169 54.487 313.834 53.5829C313.516 52.6788 313.357 51.6772 313.357 50.5781C313.357 49.479 313.516 48.4862 313.834 47.5998C314.169 46.6957 314.628 45.9246 315.21 45.2864C315.81 44.6482 316.515 44.1607 317.327 43.8238C318.138 43.4693 319.029 43.292 319.999 43.292C320.97 43.292 321.861 43.4693 322.672 43.8238C323.501 44.1607 324.207 44.6482 324.789 45.2864C325.371 45.9246 325.821 46.6957 326.139 47.5998C326.474 48.4862 326.642 49.479 326.642 50.5781ZM323.36 50.5781C323.36 49.1953 323.06 48.1051 322.461 47.3073C321.878 46.4919 321.058 46.0841 319.999 46.0841C318.941 46.0841 318.112 46.4919 317.512 47.3073C316.93 48.1051 316.639 49.1953 316.639 50.5781C316.639 51.9786 316.93 53.0866 317.512 53.902C318.112 54.7175 318.941 55.1252 319.999 55.1252C321.058 55.1252 321.878 54.7175 322.461 53.902C323.06 53.0866 323.36 51.9786 323.36 50.5781Z"
            fill="#00A3E8" />
          <path
            d="M335.444 57.811C334.933 57.811 334.412 57.7933 333.883 57.7578C333.354 57.7224 332.842 57.678 332.348 57.6249C331.872 57.5717 331.422 57.5185 330.999 57.4653C330.575 57.3944 330.223 57.3235 329.94 57.2526V43.8238C330.223 43.7529 330.575 43.6909 330.999 43.6377C331.422 43.5668 331.872 43.5136 332.348 43.4781C332.842 43.425 333.354 43.3895 333.883 43.3718C334.412 43.3363 334.933 43.3186 335.444 43.3186C337.314 43.3186 338.77 43.6643 339.811 44.3557C340.852 45.0293 341.372 45.9777 341.372 47.201C341.372 47.8392 341.213 48.4064 340.896 48.9028C340.578 49.3992 340.164 49.7715 339.652 50.0197C340.287 50.2679 340.834 50.6579 341.293 51.1897C341.751 51.7215 341.981 52.475 341.981 53.45C341.981 54.8505 341.434 55.9319 340.34 56.6941C339.246 57.4387 337.614 57.811 335.444 57.811ZM335.524 49.2219C336.318 49.2219 336.97 49.1067 337.482 48.8762C338.011 48.6458 338.276 48.1848 338.276 47.4935C338.276 47.1566 338.188 46.8819 338.011 46.6691C337.853 46.4564 337.632 46.288 337.35 46.1639C337.068 46.0398 336.741 45.96 336.371 45.9246C336 45.8714 335.612 45.8448 335.206 45.8448C334.889 45.8448 334.518 45.8537 334.095 45.8714C333.689 45.8891 333.363 45.9157 333.116 45.9512V49.2219H335.524ZM333.116 55.1518C333.327 55.1873 333.672 55.2227 334.148 55.2582C334.642 55.2759 335.1 55.2848 335.524 55.2848C336.477 55.2848 337.262 55.1518 337.879 54.8859C338.514 54.62 338.832 54.1148 338.832 53.3702C338.832 52.6434 338.541 52.147 337.958 51.8811C337.394 51.5974 336.653 51.4556 335.736 51.4556H333.116V55.1518Z"
            fill="#00A3E8" />
          <path
            d="M348.076 37.3887C348.094 37.6014 348.102 37.823 348.102 38.0535C348.12 38.2839 348.12 38.4701 348.102 38.6119C348.067 39.6755 347.855 40.7038 347.467 41.6965C347.097 42.6715 346.638 43.5402 346.091 44.3025L343.763 43.6909C344.115 42.9109 344.389 42.0865 344.583 41.2179C344.777 40.3492 344.874 39.516 344.874 38.7183C344.874 38.5942 344.865 38.3992 344.848 38.1332C344.848 37.8673 344.83 37.6191 344.795 37.3887H348.076Z"
            fill="#00A3E8" />
          <path
            d="M357.786 52.3863C357.575 52.3863 357.363 52.3863 357.151 52.3863C356.94 52.3863 356.737 52.3775 356.543 52.3597C355.978 53.2107 355.458 54.0882 354.981 54.9923C354.505 55.8787 354.064 56.7296 353.658 57.5451H350.377C350.853 56.446 351.383 55.3912 351.965 54.3807C352.547 53.3702 353.094 52.5104 353.605 51.8013C352.741 51.429 352.106 50.9326 351.7 50.3122C351.312 49.674 351.118 48.9294 351.118 48.0785C351.118 47.2985 351.259 46.6159 351.541 46.0309C351.841 45.4282 352.256 44.9318 352.785 44.5418C353.314 44.1341 353.949 43.8327 354.69 43.6377C355.431 43.425 356.252 43.3186 357.151 43.3186C358.192 43.3186 359.198 43.3806 360.168 43.5047C361.156 43.6288 361.959 43.7706 362.576 43.9302V57.5451H359.374V52.3863H357.786ZM359.374 45.9777C359.18 45.9423 358.88 45.9157 358.474 45.898C358.069 45.8625 357.654 45.8448 357.231 45.8448C355.273 45.8448 354.293 46.5716 354.293 48.0253C354.293 48.4153 354.364 48.7433 354.505 49.0092C354.664 49.2574 354.876 49.4612 355.14 49.6208C355.405 49.7803 355.714 49.8956 356.066 49.9665C356.419 50.0197 356.799 50.0463 357.204 50.0463H359.374V45.9777Z"
            fill="#00A3E8" />
          <path
            d="M378.279 57.5451H375.077V51.7215H369.864V57.5451H366.662V43.6377H369.864V49.0624H375.077V43.6377H378.279V57.5451Z"
            fill="#00A3E8" />
          <path
            d="M95.4051 20.0944V25.9416C95.6431 25.9671 95.9248 25.999 96.2504 26.0372C96.5885 26.0627 96.9955 26.0754 97.4714 26.0754C98.0349 26.0754 98.5734 26.0308 99.0868 25.9416C99.6002 25.8525 100.045 25.6932 100.42 25.4639C100.809 25.2346 101.115 24.9289 101.341 24.5467C101.579 24.1645 101.698 23.6804 101.698 23.0944C101.698 22.483 101.585 21.9861 101.36 21.604C101.147 21.209 100.834 20.9033 100.42 20.6867C100.02 20.4574 99.5313 20.3046 98.9553 20.2281C98.3793 20.1389 97.7343 20.0944 97.0205 20.0944H95.4051ZM97.1896 18.9861C98.1163 18.9861 98.9428 19.0625 99.6691 19.2154C100.395 19.3682 101.003 19.6103 101.491 19.9415C101.992 20.26 102.374 20.6804 102.637 21.2027C102.9 21.725 103.031 22.3492 103.031 23.0753C103.031 24.4639 102.556 25.5021 101.604 26.1901C100.652 26.8652 99.2558 27.2028 97.415 27.2028C96.8891 27.2028 96.3193 27.171 95.7057 27.1073C95.1046 27.0563 94.5786 26.9671 94.1278 26.8398V13.8458H101.867V14.9732H95.4051V18.9861H97.1896Z"
            fill="#2F3035" />
          <path
            d="M108.428 18.2599V18.6612C108.428 19.0434 108.422 19.4638 108.409 19.9224C108.397 20.3683 108.372 20.8269 108.334 21.2982C108.297 21.7696 108.234 22.2409 108.146 22.7123C108.071 23.1709 107.971 23.604 107.846 24.0117C107.708 24.432 107.533 24.8333 107.32 25.2155C107.12 25.5849 106.875 25.9162 106.587 26.2092C106.312 26.4894 105.986 26.7251 105.611 26.9162C105.247 27.0945 104.834 27.2092 104.371 27.2601L104.202 26.2283C104.828 26.0881 105.329 25.827 105.704 25.4448C106.093 25.0626 106.412 24.5212 106.662 23.8206C106.913 23.1199 107.069 22.3173 107.132 21.4129C107.207 20.4956 107.245 19.4956 107.245 18.4128V17.2089H113.218V27.0882H111.997V18.2599H108.428Z"
            fill="#2F3035" />
          <path
            d="M119.512 26.1901C119.988 26.1901 120.401 26.1773 120.752 26.1518C121.115 26.1136 121.422 26.069 121.672 26.0181V22.5403C121.535 22.4766 121.315 22.4129 121.015 22.3492C120.714 22.2728 120.301 22.2345 119.775 22.2345C119.475 22.2345 119.162 22.26 118.836 22.311C118.51 22.3492 118.21 22.4447 117.934 22.5976C117.659 22.7377 117.433 22.9352 117.258 23.19C117.083 23.4448 116.995 23.7824 116.995 24.2027C116.995 24.5722 117.052 24.8843 117.164 25.1391C117.289 25.3939 117.458 25.5977 117.671 25.7506C117.897 25.9034 118.16 26.0181 118.46 26.0945C118.773 26.1582 119.124 26.1901 119.512 26.1901ZM119.4 16.9796C120.038 16.9796 120.577 17.0752 121.015 17.2663C121.466 17.4446 121.829 17.6994 122.104 18.0306C122.38 18.3491 122.58 18.7313 122.706 19.1771C122.831 19.623 122.893 20.1071 122.893 20.6294V26.8589C122.768 26.8971 122.587 26.9417 122.349 26.9926C122.111 27.0308 121.835 27.0754 121.522 27.1264C121.209 27.1773 120.858 27.2156 120.47 27.241C120.095 27.2793 119.706 27.2984 119.306 27.2984C118.792 27.2984 118.316 27.241 117.878 27.1264C117.452 27.0117 117.077 26.8334 116.751 26.5913C116.438 26.3366 116.187 26.0181 116 25.6359C115.824 25.241 115.737 24.7633 115.737 24.2027C115.737 23.6677 115.837 23.2091 116.037 22.8269C116.238 22.4447 116.519 22.1326 116.882 21.8906C117.246 21.6358 117.678 21.4511 118.179 21.3364C118.679 21.2218 119.224 21.1645 119.813 21.1645C119.988 21.1645 120.17 21.1772 120.357 21.2027C120.558 21.2154 120.746 21.2409 120.921 21.2791C121.109 21.3046 121.265 21.3364 121.391 21.3746C121.528 21.4001 121.622 21.4256 121.672 21.4511V20.8396C121.672 20.4956 121.647 20.1644 121.597 19.8459C121.547 19.5147 121.434 19.2217 121.259 18.9669C121.096 18.6994 120.858 18.4892 120.545 18.3364C120.245 18.1707 119.844 18.0879 119.343 18.0879C118.629 18.0879 118.097 18.1389 117.747 18.2408C117.396 18.3427 117.139 18.4255 116.976 18.4892L116.807 17.4C117.02 17.2981 117.346 17.2026 117.784 17.1134C118.235 17.0242 118.773 16.9796 119.4 16.9796Z"
            fill="#2F3035" />
          <path d="M131.568 18.2599H127.228V27.0882H126.008V17.2089H131.568V18.2599Z" fill="#2F3035" />
          <path
            d="M141.757 22.1581C141.757 22.9352 141.644 23.6422 141.419 24.2792C141.206 24.9161 140.899 25.4576 140.499 25.9034C140.11 26.3493 139.647 26.6996 139.109 26.9544C138.57 27.1965 137.975 27.3175 137.324 27.3175C136.673 27.3175 136.078 27.1965 135.54 26.9544C135.001 26.6996 134.532 26.3493 134.131 25.9034C133.743 25.4576 133.436 24.9161 133.21 24.2792C132.998 23.6422 132.891 22.9352 132.891 22.1581C132.891 21.381 132.998 20.674 133.21 20.037C133.436 19.4001 133.743 18.8587 134.131 18.4128C134.532 17.9542 135.001 17.6038 135.54 17.3618C136.078 17.107 136.673 16.9796 137.324 16.9796C137.975 16.9796 138.57 17.107 139.109 17.3618C139.647 17.6038 140.11 17.9542 140.499 18.4128C140.899 18.8587 141.206 19.4001 141.419 20.037C141.644 20.674 141.757 21.381 141.757 22.1581ZM140.461 22.1581C140.461 20.9224 140.179 19.9415 139.616 19.2154C139.052 18.4765 138.288 18.107 137.324 18.107C136.36 18.107 135.596 18.4765 135.033 19.2154C134.469 19.9415 134.187 20.9224 134.187 22.1581C134.187 23.3938 134.469 24.3747 135.033 25.1009C135.596 25.827 136.36 26.1901 137.324 26.1901C138.288 26.1901 139.052 25.827 139.616 25.1009C140.179 24.3747 140.461 23.3938 140.461 22.1581Z"
            fill="#2F3035" />
          <path
            d="M151.882 26.0372H152.991V29.8207H151.807V27.0882H144.256V29.8207H143.073V26.0372H144.068C144.481 25.3747 144.807 24.7378 145.045 24.1263C145.295 23.5148 145.483 22.8906 145.609 22.2536C145.746 21.6167 145.834 20.9479 145.871 20.2472C145.922 19.5338 145.947 18.7567 145.947 17.916V17.2089H151.882V26.0372ZM147.092 18.2599C147.092 18.9478 147.067 19.623 147.017 20.2854C146.98 20.9479 146.898 21.604 146.773 22.2536C146.648 22.9033 146.473 23.5467 146.247 24.1836C146.022 24.8079 145.727 25.4257 145.364 26.0372H150.661V18.2599H147.092Z"
            fill="#2F3035" />
          <path
            d="M156.413 27.0882H155.192V17.2089H156.413V27.0882ZM156.695 14.228C156.695 14.521 156.608 14.7566 156.432 14.935C156.257 15.1006 156.044 15.1834 155.794 15.1834C155.543 15.1834 155.33 15.1006 155.155 14.935C154.98 14.7566 154.892 14.521 154.892 14.228C154.892 13.935 154.98 13.7057 155.155 13.5401C155.33 13.3617 155.543 13.2725 155.794 13.2725C156.044 13.2725 156.257 13.3617 156.432 13.5401C156.608 13.7057 156.695 13.935 156.695 14.228Z"
            fill="#2F3035" />
          <path
            d="M166.262 18.795C165.886 19.2536 165.448 19.8332 164.947 20.5339C164.459 21.2345 163.958 21.9734 163.444 22.7505C162.943 23.5276 162.461 24.2983 161.998 25.0626C161.535 25.827 161.134 26.5022 160.796 27.0882H159.65V17.2089H160.852V25.12C161.153 24.5722 161.522 23.9416 161.96 23.2282C162.411 22.5021 162.887 21.7759 163.388 21.0498C163.889 20.3109 164.39 19.6039 164.891 18.9287C165.404 18.2535 165.88 17.6803 166.318 17.2089H167.464V27.0882H166.262V18.795ZM163.557 15.5274C162.856 15.5274 162.28 15.3299 161.829 14.935C161.378 14.5401 161.09 13.9796 160.965 13.2534L161.96 12.9859C162.036 13.419 162.198 13.7757 162.449 14.056C162.712 14.3235 163.081 14.4573 163.557 14.4573C164.033 14.4573 164.396 14.3235 164.647 14.056C164.91 13.7757 165.079 13.419 165.154 12.9859L166.149 13.2534C166.024 13.9796 165.736 14.5401 165.285 14.935C164.834 15.3299 164.258 15.5274 163.557 15.5274Z"
            fill="#2F3035" />
          <path
            d="M178.413 27.0882H177.192V22.483H171.914V27.0882H170.693V17.2089H171.914V21.432H177.192V17.2089H178.413V27.0882Z"
            fill="#2F3035" />
          <path
            d="M188.256 18.795C187.88 19.2536 187.442 19.8332 186.941 20.5339C186.453 21.2345 185.952 21.9734 185.439 22.7505C184.938 23.5276 184.456 24.2983 183.992 25.0626C183.529 25.827 183.128 26.5022 182.79 27.0882H181.644V17.2089H182.846V25.12C183.147 24.5722 183.516 23.9416 183.955 23.2282C184.405 22.5021 184.881 21.7759 185.382 21.0498C185.883 20.3109 186.384 19.6039 186.885 18.9287C187.398 18.2535 187.874 17.6803 188.313 17.2089H189.458V27.0882H188.256V18.795Z"
            fill="#2F3035" />
          <path
            d="M199.299 18.795C198.923 19.2536 198.485 19.8332 197.984 20.5339C197.496 21.2345 196.995 21.9734 196.482 22.7505C195.981 23.5276 195.498 24.2983 195.035 25.0626C194.572 25.827 194.171 26.5022 193.833 27.0882H192.687V17.2089H193.889V25.12C194.19 24.5722 194.559 23.9416 194.998 23.2282C195.448 22.5021 195.924 21.7759 196.425 21.0498C196.926 20.3109 197.427 19.6039 197.928 18.9287C198.441 18.2535 198.917 17.6803 199.355 17.2089H200.501V27.0882H199.299V18.795ZM196.594 15.5274C195.893 15.5274 195.317 15.3299 194.866 14.935C194.415 14.5401 194.127 13.9796 194.002 13.2534L194.998 12.9859C195.073 13.419 195.236 13.7757 195.486 14.056C195.749 14.3235 196.118 14.4573 196.594 14.4573C197.07 14.4573 197.433 14.3235 197.684 14.056C197.947 13.7757 198.116 13.419 198.191 12.9859L199.186 13.2534C199.061 13.9796 198.773 14.5401 198.322 14.935C197.872 15.3299 197.295 15.5274 196.594 15.5274Z"
            fill="#2F3035" />
          <path
            d="M214.071 17.1516C214.723 17.1516 215.374 17.2535 216.025 17.4573C216.676 17.6484 217.258 17.9478 217.772 18.3555C218.298 18.7631 218.724 19.2854 219.049 19.9224C219.375 20.5466 219.538 21.2918 219.538 22.1581C219.538 23.0244 219.375 23.776 219.049 24.4129C218.724 25.0372 218.298 25.5531 217.772 25.9607C217.258 26.3684 216.676 26.6741 216.025 26.878C215.374 27.0691 214.723 27.1646 214.071 27.1646V30.6233H212.869V27.1646C212.218 27.1646 211.567 27.0691 210.916 26.878C210.265 26.6741 209.676 26.3684 209.15 25.9607C208.637 25.5531 208.217 25.0372 207.891 24.4129C207.566 23.776 207.403 23.0244 207.403 22.1581C207.403 21.2918 207.566 20.5466 207.891 19.9224C208.217 19.2854 208.637 18.7631 209.15 18.3555C209.676 17.9478 210.265 17.6484 210.916 17.4573C211.567 17.2535 212.218 17.1516 212.869 17.1516V12.4891L214.071 12.2598V17.1516ZM212.869 18.2026C212.281 18.2026 211.73 18.2981 211.216 18.4892C210.703 18.6676 210.258 18.9287 209.883 19.2727C209.507 19.6039 209.213 20.0179 209 20.5148C208.787 20.9988 208.68 21.5466 208.68 22.1581C208.68 22.7696 208.787 23.3237 209 23.8206C209.213 24.3047 209.507 24.7187 209.883 25.0626C210.258 25.3939 210.703 25.655 211.216 25.8461C211.73 26.0244 212.281 26.1136 212.869 26.1136V18.2026ZM214.071 26.1136C214.66 26.1136 215.211 26.0244 215.724 25.8461C216.238 25.655 216.682 25.3939 217.058 25.0626C217.434 24.7187 217.728 24.3047 217.941 23.8206C218.154 23.3237 218.26 22.7696 218.26 22.1581C218.26 21.5466 218.154 20.9988 217.941 20.5148C217.728 20.0179 217.434 19.6039 217.058 19.2727C216.682 18.9287 216.238 18.6676 215.724 18.4892C215.211 18.2981 214.66 18.2026 214.071 18.2026V26.1136Z"
            fill="#2F3035" />
          <path
            d="M230.449 22.1581C230.449 22.9352 230.337 23.6422 230.111 24.2792C229.898 24.9161 229.592 25.4576 229.191 25.9034C228.803 26.3493 228.339 26.6996 227.801 26.9544C227.262 27.1965 226.668 27.3175 226.016 27.3175C225.365 27.3175 224.77 27.1965 224.232 26.9544C223.693 26.6996 223.224 26.3493 222.823 25.9034C222.435 25.4576 222.128 24.9161 221.903 24.2792C221.69 23.6422 221.583 22.9352 221.583 22.1581C221.583 21.381 221.69 20.674 221.903 20.037C222.128 19.4001 222.435 18.8587 222.823 18.4128C223.224 17.9542 223.693 17.6038 224.232 17.3618C224.77 17.107 225.365 16.9796 226.016 16.9796C226.668 16.9796 227.262 17.107 227.801 17.3618C228.339 17.6038 228.803 17.9542 229.191 18.4128C229.592 18.8587 229.898 19.4001 230.111 20.037C230.337 20.674 230.449 21.381 230.449 22.1581ZM229.153 22.1581C229.153 20.9224 228.871 19.9415 228.308 19.2154C227.744 18.4765 226.981 18.107 226.016 18.107C225.052 18.107 224.288 18.4765 223.725 19.2154C223.161 19.9415 222.879 20.9224 222.879 22.1581C222.879 23.3938 223.161 24.3747 223.725 25.1009C224.288 25.827 225.052 26.1901 226.016 26.1901C226.981 26.1901 227.744 25.827 228.308 25.1009C228.871 24.3747 229.153 23.3938 229.153 22.1581Z"
            fill="#2F3035" />
          <path
            d="M240.819 27.0882H239.598V22.483H234.319V27.0882H233.098V17.2089H234.319V21.432H239.598V17.2089H240.819V27.0882Z"
            fill="#2F3035" />
          <path
            d="M251.526 26.0372H252.634V29.8207H251.451V27.0882H243.899V29.8207H242.716V26.0372H243.712C244.125 25.3747 244.45 24.7378 244.688 24.1263C244.939 23.5148 245.127 22.8906 245.252 22.2536C245.39 21.6167 245.477 20.9479 245.515 20.2472C245.565 19.5338 245.59 18.7567 245.59 17.916V17.2089H251.526V26.0372ZM246.736 18.2599C246.736 18.9478 246.711 19.623 246.661 20.2854C246.623 20.9479 246.542 21.604 246.417 22.2536C246.291 22.9033 246.116 23.5467 245.891 24.1836C245.665 24.8079 245.371 25.4257 245.008 26.0372H250.305V18.2599H246.736Z"
            fill="#2F3035" />
          <g clip-path="url(#clip0_70_412)">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M14.4828 60.407C19.4112 65.7646 19.643 67.0425 22.0332 73.1117C22.3546 73.9279 22.5518 75.4266 22.8382 76.0019C23.8458 74.5947 25.8152 68.1692 26.1885 66.0482C26.8584 62.2422 27.4469 57.791 26.4347 53.8628C25.0686 48.5612 22.3769 44.9939 19.8909 40.5353C19.5569 39.9361 17.8367 36.4988 17.505 36.376C16.8374 37.9675 18.8982 45.7436 19.5021 47.9459C19.7386 48.8083 20.3783 50.6576 20.4082 51.5018C19.679 51.2455 17.6311 49.3922 16.3527 48.5679C14.9396 47.6568 13.6607 46.7408 12.3264 45.7756C10.7705 44.6501 9.8699 43.9982 8.49638 42.5927C3.189 37.1618 3.89649 34.8793 3.44191 26.9301C3.28576 24.1992 2.00728 18.2409 0.0223276 16.7598C-0.0644821 18.9554 0.117677 22.051 0.318484 24.2618C0.527438 26.5618 0.389154 29.6268 0.345905 31.992C0.298505 34.5848 0.310335 37.2089 0.387508 39.8011C0.62835 47.8864 8.66154 55.1007 14.4829 60.4071L14.4828 60.407Z"
              fill="#FED500" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M7.07188 33.1666C7.2184 30.5759 7.91303 26.6467 6.81294 23.9746C6.41172 23.0001 5.30482 21.5483 4.47566 21.2744C4.21899 21.8089 5.31273 26.4802 5.36366 27.3084C5.53736 30.1297 5.10394 33.6411 6.02202 36.5124C6.19266 37.0464 6.32303 37.7691 6.80918 38.0949C7.37165 36.9711 6.99025 34.6083 7.07188 33.1666V33.1666Z"
              fill="#FED500" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M17.2582 45.3254C16.9164 41.5059 15.9937 38.1849 15.8215 34.0391C15.5298 27.0188 16.709 19.0252 20.7254 13.4624C24.855 7.74301 27.2255 5.99891 31.1713 11.9108C34.7288 17.2413 35.9267 21.2559 37.1615 27.7521C38.0334 27.46 42.2777 24.2747 44.032 23.2136C45.7895 22.1506 49.7524 20.111 52.3839 20.5319C54.6889 20.9006 55.9631 26.3353 56.0792 28.1458C56.8701 40.4752 46.6623 49.2567 37.0823 54.3419C35.2142 55.3335 30.5797 56.8363 29.4469 58C36.8866 58.2707 44.7076 55.6379 49.9616 52.4429C55.3461 49.1684 59.7148 44.9973 62.6876 39.1019C66.0312 32.4709 66.4301 24.1833 61.7403 18.866C59.794 16.6592 57.867 14.6854 54.1447 13.3139C49.597 11.6382 47.2326 12.789 43.1036 13.7037C42.3523 12.6543 41.8041 10.8003 41.0389 9.53444C40.573 8.76378 40.285 8.50385 39.7821 7.7287C39.2096 6.84639 39.0734 6.7375 38.4053 6.06417C33.443 1.06295 27.7696 -1.61433 20.3103 1.0532C17.0116 2.23286 14.8383 4.22447 13.3431 6.52891C9.87648 11.872 9.20755 20.1365 10.3291 27.4339C10.9414 31.418 14.7718 44.1544 17.2584 45.3253L17.2582 45.3254Z"
              fill="#00A3E8" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M38.5927 75.0881C43.4806 69.5394 57.2388 67.7505 62.8091 62.9847C67.6032 58.8829 67.5406 51.1388 70.9352 43.696C71.9141 41.5495 73.0796 39.7801 74.1731 38.0098C71.6217 38.3862 69.553 40.9112 68.5191 42.7808C67.1386 45.277 66.6326 47.4493 65.6782 50.3608C64.6491 53.4998 63.5755 54.5199 61.2525 56.4868C60.4888 57.1335 55.3885 59.6793 54.1586 59.7738C54.4415 59.1817 54.926 58.8721 55.3491 58.3843C57.4721 55.9356 61.4556 49.6332 61.4712 46.6243C60.8526 47.0461 60.4361 47.6283 59.907 48.2733C58.6387 49.8196 54.6279 52.7459 52.7758 54.0196C51.0453 55.2094 48.4425 56.6683 47.0152 57.8461L46.0983 58.567C45.0257 59.3133 44.4967 59.9792 43.6611 60.9221C40.6272 64.3454 38.3185 70.0033 38.5927 75.088L38.5927 75.0881Z"
              fill="#FED500" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M68.8239 53.6655C71.4575 52.6682 72.416 46.5139 73.4164 43.8564C73.8341 42.7468 74.451 41.5051 74.7742 40.3877C72.5249 41.6948 68.9683 49.6652 68.8239 53.6655Z"
              fill="#FED500" />
          </g>
          <defs>
            <clipPath id="clip0_70_412">
              <rect width="74.7742" height="76" fill="white" transform="translate(0 0.00195312)" />
            </clipPath>
          </defs>
        </svg>
      </a>
      <div class="footer__body">
        <nav class="footer__nav">
          <a href="#" class="footer-nav__link">Про фонд</a>
          <a href="#" class="footer-nav__link">Часті запитання</a>
          <a href="#" class="footer-nav__link">План роботи 2022</a>
          <a href="#" class="footer-nav__link">Документи </a>
          <a href="#" class="footer-nav__link">Отримати допомогу</a>
        </nav>
        <div class="contact footer__contact">
          <a href="tel:+380972528727400" class="contact__phone">
            <svg class="ic--phone" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_102_149)">
              <path d="M14.997 16.5C6.46601 16.512 -0.00899063 9.96 9.3707e-06 1.503C9.3707e-06 0.95 0.448009 0.5 1.00001 0.5H3.64001C4.13501 0.5 4.55601 0.864 4.62901 1.354C4.80311 2.52905 5.14493 3.67305 5.64401 4.751L5.74701 4.973C5.8162 5.12239 5.83108 5.29124 5.78909 5.45043C5.7471 5.60962 5.65088 5.74917 5.51701 5.845C4.69901 6.429 4.38701 7.604 5.02401 8.52C5.82599 9.67333 6.82695 10.6746 7.98001 11.477C8.89701 12.113 10.072 11.801 10.655 10.984C10.7507 10.8497 10.8904 10.7531 11.0498 10.711C11.2092 10.6688 11.3784 10.6836 11.528 10.753L11.749 10.855C12.827 11.355 13.971 11.697 15.146 11.871C15.636 11.944 16 12.365 16 12.861V15.5C16 15.6314 15.9741 15.7615 15.9238 15.8829C15.8735 16.0043 15.7997 16.1146 15.7068 16.2075C15.6138 16.3003 15.5034 16.374 15.382 16.4242C15.2606 16.4744 15.1304 16.5001 14.999 16.5H14.997Z" fill="#00A3E8"/>
              </g>
              <defs>
              <clipPath id="clip0_102_149">
              <rect width="16" height="17" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            <span>+38 (097) 2528727400</span>
          </a>
          <a href="#" class="contact__social">
            <svg class="ic--telegram" width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.44343 8.29429C7.08164 5.84634 10.8404 4.23234 12.7198 3.45259C18.0922 1.226 19.2071 0.839296 19.9353 0.826194C20.0954 0.823634 20.452 0.863088 20.6846 1.05057C20.878 1.20869 20.9324 1.42252 20.9596 1.57266C20.9838 1.72264 21.017 2.06448 20.9898 2.33132C20.6998 5.37921 19.4398 12.7755 18.7992 16.1893C18.5303 17.6337 17.9955 18.118 17.4788 18.1653C16.3548 18.2683 15.5027 17.4256 14.4149 16.7152C12.7138 15.6029 11.7529 14.9108 10.1002 13.8257C8.19055 12.5716 9.42938 11.8822 10.5171 10.7558C10.8012 10.4609 15.7505 5.97494 15.8441 5.56805C15.8562 5.51715 15.8683 5.32741 15.7535 5.22742C15.6417 5.12713 15.4755 5.16146 15.3546 5.18857C15.1824 5.22712 12.466 7.01851 7.19646 10.5624C6.42596 11.0907 5.72798 11.3482 5.0995 11.3347C4.41059 11.3199 3.08111 10.9455 2.09306 10.6257C0.884445 10.2333 -0.0794292 10.0257 0.00517413 9.35925C0.0474758 9.01229 0.527902 8.65721 1.44343 8.29429Z" fill="#00A3E8"/>
            </svg>            
            <span>@telegram</span>
          </a>
          <a href="#" class="contact__social">
            <svg class="ic--whatsapp" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_70_311)">
              <path d="M0.00401338 20.5L1.35601 15.532C0.465151 14.0049 -0.00289063 12.268 1.34322e-05 10.5C1.34322e-05 4.977 4.47701 0.5 10 0.5C15.523 0.5 20 4.977 20 10.5C20 16.023 15.523 20.5 10 20.5C8.23279 20.5029 6.49667 20.0352 4.97001 19.145L0.00401338 20.5ZM6.39101 5.808C6.26188 5.81602 6.13569 5.85003 6.02001 5.908C5.91153 5.96943 5.81251 6.04622 5.72601 6.136C5.60601 6.249 5.53801 6.347 5.46501 6.442C5.09542 6.923 4.89662 7.51342 4.90001 8.12C4.90201 8.61 5.03001 9.087 5.23001 9.533C5.63901 10.435 6.31201 11.39 7.20101 12.275C7.41501 12.488 7.62401 12.702 7.84901 12.901C8.9524 13.8725 10.2673 14.573 11.689 14.947L12.258 15.034C12.443 15.044 12.628 15.03 12.814 15.021C13.1053 15.006 13.3896 14.9271 13.647 14.79C13.778 14.7225 13.9058 14.6491 14.03 14.57C14.03 14.57 14.073 14.542 14.155 14.48C14.29 14.38 14.373 14.309 14.485 14.192C14.568 14.106 14.64 14.005 14.695 13.89C14.773 13.727 14.851 13.416 14.883 13.157C14.907 12.959 14.9 12.851 14.897 12.784C14.893 12.677 14.804 12.566 14.707 12.519L14.125 12.258C14.125 12.258 13.255 11.879 12.724 11.637C12.668 11.6126 12.608 11.5987 12.547 11.596C12.4786 11.589 12.4095 11.5967 12.3443 11.6186C12.2791 11.6405 12.2193 11.6761 12.169 11.723V11.721C12.164 11.721 12.097 11.778 11.374 12.654C11.3325 12.7098 11.2754 12.7519 11.2098 12.7751C11.1443 12.7982 11.0733 12.8013 11.006 12.784C10.9409 12.7666 10.877 12.7445 10.815 12.718C10.691 12.666 10.648 12.646 10.563 12.609L10.558 12.607C9.98592 12.3572 9.45624 12.0198 8.98801 11.607C8.86201 11.497 8.74501 11.377 8.62501 11.261C8.23159 10.8842 7.88873 10.458 7.60501 9.993L7.54601 9.898C7.50364 9.83416 7.46937 9.7653 7.44401 9.693C7.40601 9.546 7.50501 9.428 7.50501 9.428C7.50501 9.428 7.74801 9.162 7.86101 9.018C7.9551 8.89832 8.04289 8.77382 8.12401 8.645C8.24201 8.455 8.27901 8.26 8.21701 8.109C7.93701 7.425 7.64701 6.744 7.34901 6.068C7.29001 5.934 7.11501 5.838 6.95601 5.819C6.90201 5.813 6.84801 5.807 6.79401 5.803C6.65972 5.79633 6.52515 5.79766 6.39101 5.807V5.808Z" fill="#00A3E8"/>
              </g>
              <defs>
              <clipPath id="clip0_70_311">
              <rect width="20" height="20" fill="white" transform="translate(0 0.5)"/>
              </clipPath>
              </defs>
            </svg>            
            <span>@whatsapp</span>
          </a>
        </div>
      </div>
      <a href="#" class="footer__btn btn">Підтримати</a>
    </div>
</footer>