<header class="header" id="header">
  <div class="md">
    <div class="header__wrapp">
      <a href="/" class="header__logo">
        <svg class="img-full" width="309" height="62" viewBox="0 0 309 62" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M83.2103 47.2688C82.0878 47.2688 81.0803 47.0952 80.188 46.7481C79.2957 46.4011 78.5402 45.8949 77.9213 45.2296C77.3025 44.5499 76.8275 43.7256 76.4965 42.7566C76.1655 41.7877 76 40.6741 76 39.4159C76 38.1577 76.1871 37.0441 76.5613 36.0751C76.9499 35.1062 77.4752 34.2891 78.1372 33.6238C78.7992 32.9441 79.5764 32.4307 80.4687 32.0836C81.361 31.7365 82.318 31.563 83.3399 31.563C83.9587 31.563 84.52 31.6136 85.0237 31.7148C85.5274 31.8016 85.9664 31.9028 86.3406 32.0185C86.7147 32.1342 87.0242 32.2571 87.2688 32.3873C87.5135 32.5175 87.6862 32.6115 87.7869 32.6693L86.9882 34.9037C86.6428 34.6868 86.1463 34.4843 85.4986 34.2963C84.8654 34.0938 84.1746 33.9926 83.4262 33.9926C82.7786 33.9926 82.1741 34.1083 81.6128 34.3397C81.0515 34.5566 80.5622 34.8892 80.1449 35.3376C79.7419 35.7859 79.4253 36.3499 79.195 37.0296C78.9647 37.7093 78.8496 38.4975 78.8496 39.3942C78.8496 40.1896 78.9359 40.9199 79.1086 41.5852C79.2957 42.2504 79.5764 42.8289 79.9506 43.3206C80.3248 43.7979 80.7997 44.1739 81.3754 44.4487C81.951 44.709 82.6418 44.8392 83.4478 44.8392C84.412 44.8392 85.1964 44.7451 85.8009 44.5571C86.4053 44.3547 86.8731 44.1667 87.2041 43.9931L87.938 46.2275C87.7653 46.3432 87.5279 46.4589 87.2257 46.5746C86.9378 46.6903 86.5924 46.806 86.1894 46.9217C85.7865 47.0229 85.3331 47.1025 84.8294 47.1603C84.3257 47.2326 83.786 47.2688 83.2103 47.2688Z"
            fill="#00A3E8" />
          <path d="M99.5889 35.5979V46.9434H96.9768V37.7889H92.8103V46.9434H90.1982V35.5979H99.5889Z" fill="#00A3E8" />
          <path
            d="M105.544 46.9434H102.932V35.5979H105.544V46.9434ZM105.825 32.2788C105.825 32.7705 105.667 33.161 105.35 33.4503C105.033 33.7395 104.659 33.8841 104.227 33.8841C103.781 33.8841 103.4 33.7395 103.083 33.4503C102.767 33.161 102.608 32.7705 102.608 32.2788C102.608 31.7727 102.767 31.375 103.083 31.0857C103.4 30.7965 103.781 30.6519 104.227 30.6519C104.659 30.6519 105.033 30.7965 105.35 31.0857C105.667 31.375 105.825 31.7727 105.825 32.2788Z"
            fill="#00A3E8" />
          <path
            d="M113.367 47.1603C112.95 47.1603 112.525 47.1459 112.093 47.1169C111.662 47.088 111.244 47.0518 110.841 47.0085C110.453 46.9651 110.086 46.9217 109.74 46.8783C109.395 46.8205 109.107 46.7626 108.877 46.7048V35.7497C109.107 35.6919 109.395 35.6413 109.74 35.5979C110.086 35.54 110.453 35.4966 110.841 35.4677C111.244 35.4243 111.662 35.3954 112.093 35.381C112.525 35.352 112.95 35.3376 113.367 35.3376C114.892 35.3376 116.08 35.6196 116.929 36.1836C117.778 36.7332 118.203 37.5069 118.203 38.5048C118.203 39.0254 118.073 39.4882 117.814 39.8931C117.555 40.2981 117.217 40.6018 116.799 40.8042C117.318 41.0067 117.764 41.3249 118.138 41.7587C118.512 42.1926 118.699 42.8072 118.699 43.6026C118.699 44.7451 118.253 45.6273 117.361 46.2492C116.468 46.8566 115.137 47.1603 113.367 47.1603ZM113.432 40.1534C114.079 40.1534 114.612 40.0594 115.029 39.8714C115.461 39.6834 115.677 39.3074 115.677 38.7434C115.677 38.4686 115.605 38.2444 115.461 38.0709C115.331 37.8974 115.152 37.76 114.921 37.6587C114.691 37.5575 114.425 37.4924 114.123 37.4635C113.82 37.4201 113.504 37.3984 113.173 37.3984C112.914 37.3984 112.611 37.4056 112.266 37.4201C111.935 37.4346 111.669 37.4563 111.467 37.4852V40.1534H113.432ZM111.467 44.991C111.64 45.0199 111.921 45.0489 112.309 45.0778C112.712 45.0922 113.086 45.0995 113.432 45.0995C114.209 45.0995 114.849 44.991 115.353 44.7741C115.871 44.5571 116.13 44.145 116.13 43.5376C116.13 42.9446 115.893 42.5397 115.418 42.3228C114.957 42.0914 114.353 41.9757 113.604 41.9757H111.467V44.991Z"
            fill="#00A3E8" />
          <path
            d="M119.786 44.7958H121.081C121.527 44.2028 121.873 43.5448 122.117 42.8217C122.376 42.0841 122.563 41.3176 122.679 40.5222C122.794 39.7123 122.866 38.888 122.894 38.0492C122.923 37.2104 122.945 36.3933 122.959 35.5979H131.055V44.7958H132.782V50.154H130.45V46.9434H122.096V50.154H119.786V44.7958ZM128.442 44.7958V37.7672H125.377C125.348 38.3601 125.312 38.9675 125.269 39.5894C125.226 40.1968 125.147 40.8042 125.032 41.4116C124.916 42.0046 124.758 42.5903 124.557 43.1688C124.37 43.7328 124.118 44.2751 123.801 44.7958H128.442Z"
            fill="#00A3E8" />
          <path
            d="M142.319 41.3249C142.319 40.1534 142.053 39.2423 141.521 38.5915C141.003 37.9407 140.161 37.6153 138.995 37.6153C138.75 37.6153 138.491 37.6298 138.218 37.6587C137.959 37.6732 137.7 37.7166 137.441 37.7889V44.2751C137.671 44.4342 137.973 44.5861 138.347 44.7307C138.736 44.8608 139.146 44.9259 139.578 44.9259C140.528 44.9259 141.218 44.6005 141.65 43.9497C142.096 43.2989 142.319 42.424 142.319 41.3249ZM144.996 41.2815C144.996 42.1492 144.881 42.9446 144.651 43.6677C144.435 44.3908 144.118 45.0127 143.701 45.5333C143.284 46.054 142.758 46.4589 142.125 46.7481C141.506 47.0374 140.801 47.182 140.009 47.182C139.477 47.182 138.988 47.1169 138.542 46.9868C138.095 46.8566 137.728 46.712 137.441 46.5529V50.9566H134.828V35.9667C135.361 35.822 136.016 35.6847 136.793 35.5545C137.57 35.4243 138.39 35.3593 139.254 35.3593C140.146 35.3593 140.945 35.4966 141.65 35.7714C142.355 36.0462 142.953 36.4439 143.442 36.9645C143.946 37.4707 144.327 38.0926 144.586 38.8302C144.86 39.5533 144.996 40.3704 144.996 41.2815Z"
            fill="#00A3E8" />
          <path
            d="M156.653 35.5979C155.488 39.9076 154.135 43.8123 152.595 47.3122C152.307 47.963 152.012 48.5198 151.71 48.9825C151.408 49.4453 151.069 49.8286 150.695 50.1323C150.321 50.436 149.904 50.6529 149.443 50.7831C148.982 50.9277 148.45 51 147.846 51C147.443 51 147.04 50.9566 146.637 50.8698C146.248 50.7831 145.953 50.6891 145.752 50.5878L146.226 48.4836C146.745 48.6861 147.255 48.7873 147.759 48.7873C148.436 48.7873 148.961 48.621 149.335 48.2884C149.724 47.9702 150.062 47.4713 150.35 46.7915C149.529 45.2007 148.738 43.4653 147.975 41.5852C147.227 39.7051 146.557 37.7093 145.967 35.5979H148.752C148.896 36.2053 149.069 36.8633 149.27 37.572C149.486 38.2806 149.716 39.0037 149.961 39.7413C150.206 40.4644 150.465 41.1875 150.738 41.9106C151.012 42.6337 151.285 43.3062 151.559 43.928C152.019 42.6409 152.451 41.2742 152.854 39.828C153.257 38.3674 153.624 36.9573 153.955 35.5979H156.653Z"
            fill="#00A3E8" />
          <path
            d="M157.183 46.9434C157.845 45.8298 158.601 44.7596 159.45 43.7328C160.299 42.6915 161.156 41.7298 162.019 40.8476C161.199 39.9654 160.4 39.0688 159.623 38.1577C158.846 37.2321 158.162 36.3788 157.572 35.5979H160.573C161.019 36.2053 161.537 36.8778 162.127 37.6153C162.731 38.3529 163.473 39.2568 164.351 40.327V35.5979H166.876V40.327C167.783 39.2712 168.531 38.3674 169.121 37.6153C169.712 36.8633 170.23 36.1908 170.676 35.5979H173.633C173.086 36.3788 172.424 37.2249 171.647 38.136C170.884 39.0471 170.079 39.9437 169.229 40.8259C170.179 41.7804 171.05 42.7566 171.842 43.7545C172.647 44.7524 173.389 45.8153 174.065 46.9434H171.151C170.863 46.5095 170.546 46.054 170.201 45.5767C169.87 45.0995 169.517 44.6295 169.143 44.1667C168.783 43.6894 168.409 43.2339 168.021 42.8C167.632 42.3661 167.251 41.9612 166.876 41.5852V46.9434H164.351V41.5852C163.976 41.9757 163.595 42.3951 163.206 42.8434C162.818 43.2917 162.436 43.7545 162.062 44.2317C161.702 44.6945 161.35 45.1573 161.004 45.6201C160.673 46.0829 160.371 46.524 160.098 46.9434H157.183Z"
            fill="#00A3E8" />
          <path
            d="M185.394 46.9434H182.782V42.1926H178.529V46.9434H175.917V35.5979H178.529V40.0233H182.782V35.5979H185.394V46.9434Z"
            fill="#00A3E8" />
          <path
            d="M191.347 46.9434H188.735V35.5979H191.347V46.9434ZM191.628 32.2788C191.628 32.7705 191.47 33.161 191.153 33.4503C190.836 33.7395 190.462 33.8841 190.03 33.8841C189.584 33.8841 189.203 33.7395 188.886 33.4503C188.57 33.161 188.411 32.7705 188.411 32.2788C188.411 31.7727 188.57 31.375 188.886 31.0857C189.203 30.7965 189.584 30.6519 190.03 30.6519C190.462 30.6519 190.836 30.7965 191.153 31.0857C191.47 31.375 191.628 31.7727 191.628 32.2788Z"
            fill="#00A3E8" />
          <path
            d="M194.054 41.2815C194.054 40.4427 194.183 39.6617 194.442 38.9386C194.701 38.2011 195.068 37.5647 195.543 37.0296C196.033 36.4945 196.623 36.0751 197.313 35.7714C198.004 35.4677 198.781 35.3159 199.645 35.3159C200.71 35.3159 201.717 35.5111 202.667 35.9016L202.106 38.0492C201.804 37.919 201.458 37.8106 201.07 37.7238C200.696 37.637 200.293 37.5936 199.861 37.5936C198.839 37.5936 198.062 37.919 197.529 38.5698C196.997 39.2062 196.731 40.1101 196.731 41.2815C196.731 42.4095 196.982 43.3062 197.486 43.9714C197.99 44.6222 198.839 44.9476 200.034 44.9476C200.48 44.9476 200.919 44.9042 201.35 44.8175C201.782 44.7307 202.156 44.6222 202.473 44.4921L202.84 46.6614C202.552 46.806 202.113 46.9362 201.523 47.0518C200.947 47.1675 200.35 47.2254 199.731 47.2254C198.767 47.2254 197.925 47.0808 197.206 46.7915C196.5 46.4878 195.91 46.0757 195.435 45.555C194.975 45.0199 194.629 44.3908 194.399 43.6677C194.169 42.9302 194.054 42.1347 194.054 41.2815Z"
            fill="#00A3E8" />
          <path d="M213.642 37.7889H209.994V46.9434H207.381V37.7889H203.755V35.5979H213.642V37.7889Z" fill="#00A3E8" />
          <path
            d="M218.205 39.7847C218.421 39.7268 218.738 39.6762 219.155 39.6328C219.572 39.5894 219.99 39.5677 220.407 39.5677C221.055 39.5677 221.659 39.64 222.22 39.7847C222.796 39.9293 223.293 40.1607 223.71 40.4788C224.127 40.7825 224.458 41.1802 224.703 41.672C224.948 42.1492 225.07 42.7205 225.07 43.3857C225.07 44.0654 224.955 44.6439 224.725 45.1212C224.494 45.5984 224.163 45.9889 223.732 46.2926C223.3 46.5963 222.782 46.8205 222.177 46.9651C221.587 47.1097 220.925 47.182 220.191 47.182C219.342 47.182 218.55 47.1386 217.816 47.0518C217.082 46.9651 216.341 46.8349 215.593 46.6614V35.5979H218.205V39.7847ZM220.126 45.1212C220.86 45.1212 221.429 44.9838 221.832 44.709C222.249 44.4198 222.458 43.9642 222.458 43.3423C222.458 43.0242 222.386 42.7566 222.242 42.5397C222.112 42.3228 221.933 42.1492 221.702 42.019C221.486 41.8744 221.227 41.7732 220.925 41.7153C220.623 41.6575 220.306 41.6286 219.975 41.6286C219.673 41.6286 219.356 41.643 219.025 41.672C218.694 41.6864 218.421 41.7226 218.205 41.7804V45.0127C218.392 45.0416 218.666 45.0705 219.025 45.0995C219.4 45.1139 219.767 45.1212 220.126 45.1212Z"
            fill="#00A3E8" />
          <path
            d="M231.853 41.2815C231.853 40.4427 231.983 39.6617 232.242 38.9386C232.501 38.2011 232.868 37.5647 233.343 37.0296C233.832 36.4945 234.422 36.0751 235.113 35.7714C235.804 35.4677 236.581 35.3159 237.445 35.3159C238.51 35.3159 239.517 35.5111 240.467 35.9016L239.906 38.0492C239.603 37.919 239.258 37.8106 238.869 37.7238C238.495 37.637 238.092 37.5936 237.661 37.5936C236.639 37.5936 235.862 37.919 235.329 38.5698C234.797 39.2062 234.53 40.1101 234.53 41.2815C234.53 42.4095 234.782 43.3062 235.286 43.9714C235.79 44.6222 236.639 44.9476 237.833 44.9476C238.279 44.9476 238.718 44.9042 239.15 44.8175C239.582 44.7307 239.956 44.6222 240.273 44.4921L240.64 46.6614C240.352 46.806 239.913 46.9362 239.323 47.0518C238.747 47.1675 238.15 47.2254 237.531 47.2254C236.567 47.2254 235.725 47.0808 235.005 46.7915C234.3 46.4878 233.71 46.0757 233.235 45.555C232.775 45.0199 232.429 44.3908 232.199 43.6677C231.969 42.9302 231.853 42.1347 231.853 41.2815Z"
            fill="#00A3E8" />
          <path
            d="M247.446 37.7672C247.431 38.4035 247.41 39.0688 247.381 39.763C247.352 40.4427 247.28 41.1152 247.165 41.7804C247.064 42.4457 246.899 43.082 246.669 43.6894C246.438 44.2968 246.115 44.8464 245.697 45.3381C245.294 45.8153 244.783 46.2203 244.165 46.5529C243.56 46.8711 242.819 47.0735 241.941 47.1603L241.574 44.9693C242.308 44.8247 242.876 44.5933 243.279 44.2751C243.682 43.9425 243.992 43.5231 244.208 43.0169C244.38 42.6409 244.51 42.2143 244.596 41.737C244.697 41.2598 244.769 40.7608 244.812 40.2402C244.87 39.7051 244.906 39.1628 244.92 38.6132C244.934 38.0637 244.942 37.5286 244.942 37.0079V35.5979H252.929V46.9434H250.317V37.7672H247.446Z"
            fill="#00A3E8" />
          <path
            d="M266.471 41.2598C266.471 42.1564 266.341 42.9735 266.082 43.7111C265.823 44.4487 265.456 45.0778 264.981 45.5984C264.506 46.119 263.931 46.524 263.254 46.8132C262.592 47.1025 261.858 47.2471 261.052 47.2471C260.246 47.2471 259.512 47.1025 258.85 46.8132C258.188 46.524 257.62 46.119 257.145 45.5984C256.67 45.0778 256.296 44.4487 256.022 43.7111C255.763 42.9735 255.634 42.1564 255.634 41.2598C255.634 40.3631 255.763 39.5533 256.022 38.8302C256.296 38.0926 256.67 37.4635 257.145 36.9429C257.634 36.4222 258.21 36.0245 258.872 35.7497C259.534 35.4605 260.261 35.3159 261.052 35.3159C261.844 35.3159 262.571 35.4605 263.233 35.7497C263.909 36.0245 264.485 36.4222 264.96 36.9429C265.435 37.4635 265.802 38.0926 266.061 38.8302C266.334 39.5533 266.471 40.3631 266.471 41.2598ZM263.794 41.2598C263.794 40.1317 263.549 39.2423 263.06 38.5915C262.585 37.9263 261.916 37.5936 261.052 37.5936C260.189 37.5936 259.512 37.9263 259.023 38.5915C258.548 39.2423 258.311 40.1317 258.311 41.2598C258.311 42.4023 258.548 43.3062 259.023 43.9714C259.512 44.6367 260.189 44.9693 261.052 44.9693C261.916 44.9693 262.585 44.6367 263.06 43.9714C263.549 43.3062 263.794 42.4023 263.794 41.2598Z"
            fill="#00A3E8" />
          <path
            d="M273.652 47.1603C273.235 47.1603 272.81 47.1459 272.378 47.1169C271.947 47.088 271.529 47.0518 271.126 47.0085C270.738 46.9651 270.371 46.9217 270.025 46.8783C269.68 46.8205 269.392 46.7626 269.162 46.7048V35.7497C269.392 35.6919 269.68 35.6413 270.025 35.5979C270.371 35.54 270.738 35.4966 271.126 35.4677C271.529 35.4243 271.947 35.3954 272.378 35.381C272.81 35.352 273.235 35.3376 273.652 35.3376C275.178 35.3376 276.365 35.6196 277.214 36.1836C278.063 36.7332 278.488 37.5069 278.488 38.5048C278.488 39.0254 278.358 39.4882 278.099 39.8931C277.84 40.2981 277.502 40.6018 277.085 40.8042C277.603 41.0067 278.049 41.3249 278.423 41.7587C278.797 42.1926 278.984 42.8072 278.984 43.6026C278.984 44.7451 278.538 45.6273 277.646 46.2492C276.754 46.8566 275.422 47.1603 273.652 47.1603ZM273.717 40.1534C274.365 40.1534 274.897 40.0594 275.314 39.8714C275.746 39.6834 275.962 39.3074 275.962 38.7434C275.962 38.4686 275.89 38.2444 275.746 38.0709C275.617 37.8974 275.437 37.76 275.206 37.6587C274.976 37.5575 274.71 37.4924 274.408 37.4635C274.105 37.4201 273.789 37.3984 273.458 37.3984C273.199 37.3984 272.897 37.4056 272.551 37.4201C272.22 37.4346 271.954 37.4563 271.752 37.4852V40.1534H273.717ZM271.752 44.991C271.925 45.0199 272.206 45.0489 272.594 45.0778C272.997 45.0922 273.371 45.0995 273.717 45.0995C274.494 45.0995 275.134 44.991 275.638 44.7741C276.156 44.5571 276.415 44.145 276.415 43.5376C276.415 42.9446 276.178 42.5397 275.703 42.3228C275.242 42.0914 274.638 41.9757 273.89 41.9757H271.752V44.991Z"
            fill="#00A3E8" />
          <path
            d="M283.957 30.5C283.971 30.6735 283.978 30.8543 283.978 31.0423C283.993 31.2303 283.993 31.3822 283.978 31.4979C283.95 32.3656 283.777 33.2044 283.46 34.0143C283.158 34.8097 282.784 35.5183 282.338 36.1402L280.438 35.6413C280.726 35.0049 280.949 34.3325 281.107 33.6238C281.265 32.9152 281.345 32.2354 281.345 31.5847C281.345 31.4834 281.337 31.3243 281.323 31.1074C281.323 30.8905 281.309 30.688 281.28 30.5H283.957Z"
            fill="#00A3E8" />
          <path
            d="M291.878 42.7349C291.706 42.7349 291.533 42.7349 291.36 42.7349C291.188 42.7349 291.022 42.7277 290.864 42.7132C290.403 43.4074 289.979 44.1233 289.59 44.8608C289.202 45.5839 288.842 46.2781 288.511 46.9434H285.834C286.222 46.0467 286.654 45.1862 287.129 44.3619C287.604 43.5376 288.05 42.8362 288.468 42.2577C287.762 41.954 287.244 41.549 286.913 41.0429C286.597 40.5222 286.438 39.9148 286.438 39.2206C286.438 38.5843 286.553 38.0275 286.784 37.5503C287.028 37.0586 287.367 36.6536 287.798 36.3354C288.23 36.0028 288.748 35.757 289.353 35.5979C289.957 35.4243 290.626 35.3376 291.36 35.3376C292.209 35.3376 293.03 35.3882 293.821 35.4894C294.627 35.5907 295.282 35.7063 295.786 35.8365V46.9434H293.174V42.7349H291.878ZM293.174 37.5069C293.015 37.478 292.771 37.4563 292.44 37.4418C292.109 37.4129 291.771 37.3984 291.425 37.3984C289.828 37.3984 289.029 37.9914 289.029 39.1772C289.029 39.4954 289.086 39.763 289.202 39.9799C289.331 40.1824 289.504 40.3487 289.72 40.4788C289.936 40.609 290.187 40.703 290.475 40.7608C290.763 40.8042 291.073 40.8259 291.404 40.8259H293.174V37.5069Z"
            fill="#00A3E8" />
          <path
            d="M308.596 46.9434H305.984V42.1926H301.731V46.9434H299.119V35.5979H301.731V40.0233H305.984V35.5979H308.596V46.9434Z"
            fill="#00A3E8" />
          <path
            d="M77.8305 16.3914V21.1615C78.0246 21.1823 78.2544 21.2083 78.52 21.2395C78.7959 21.2603 79.1279 21.2707 79.5161 21.2707C79.9758 21.2707 80.4151 21.2343 80.8339 21.1615C81.2528 21.0888 81.6155 20.9589 81.9219 20.7718C82.2386 20.5847 82.4889 20.3353 82.6728 20.0236C82.8669 19.7118 82.9639 19.3169 82.9639 18.8388C82.9639 18.34 82.872 17.9347 82.6881 17.6229C82.5144 17.3007 82.2591 17.0513 81.9219 16.8746C81.595 16.6876 81.1966 16.5629 80.7267 16.5005C80.2567 16.4278 79.7306 16.3914 79.1483 16.3914H77.8305ZM79.2862 15.4872C80.0422 15.4872 80.7165 15.5496 81.309 15.6743C81.9015 15.799 82.397 15.9965 82.7954 16.2667C83.204 16.5265 83.5156 16.8694 83.7301 17.2955C83.9447 17.7216 84.0519 18.2308 84.0519 18.8232C84.0519 19.956 83.6637 20.803 82.8873 21.3642C82.1109 21.915 80.9719 22.1904 79.4701 22.1904C79.0411 22.1904 78.5762 22.1644 78.0757 22.1124C77.5853 22.0709 77.1562 21.9981 76.7885 21.8942V11.2939H83.1019V12.2136H77.8305V15.4872H79.2862Z"
            fill="#2F3035" />
          <path
            d="M88.4545 14.8949V15.2222C88.4545 15.534 88.4494 15.877 88.4392 16.2511C88.429 16.6148 88.4086 16.9889 88.3779 17.3735C88.3473 17.758 88.2962 18.1425 88.2247 18.527C88.1634 18.9012 88.0817 19.2545 87.9795 19.5871C87.8671 19.93 87.7241 20.2574 87.5504 20.5692C87.387 20.8705 87.1878 21.1407 86.9528 21.3798C86.7281 21.6084 86.4624 21.8007 86.156 21.9566C85.8597 22.102 85.5226 22.1956 85.1446 22.2372L85.0067 21.3954C85.5175 21.281 85.9261 21.068 86.2326 20.7562C86.5493 20.4444 86.8098 20.0028 87.0141 19.4312C87.2184 18.8596 87.3461 18.2049 87.3972 17.467C87.4585 16.7187 87.4891 15.9029 87.4891 15.0196V14.0375H92.3621V22.0969H91.3661V14.8949H88.4545Z"
            fill="#2F3035" />
          <path
            d="M97.4968 21.3642C97.885 21.3642 98.2221 21.3538 98.5082 21.333C98.8044 21.3018 99.0547 21.2655 99.259 21.2239V18.3867C99.1466 18.3348 98.9679 18.2828 98.7227 18.2308C98.4775 18.1685 98.1404 18.1373 97.7113 18.1373C97.4661 18.1373 97.2107 18.1581 96.9451 18.1997C96.6795 18.2308 96.4343 18.3088 96.2096 18.4335C95.9848 18.5478 95.801 18.7089 95.6579 18.9168C95.5149 19.1246 95.4434 19.4 95.4434 19.743C95.4434 20.0443 95.4894 20.299 95.5813 20.5068C95.6835 20.7147 95.8214 20.8809 95.9951 21.0056C96.1789 21.1304 96.3935 21.2239 96.6387 21.2862C96.894 21.3382 97.1801 21.3642 97.4968 21.3642ZM97.4048 13.8504C97.9259 13.8504 98.3651 13.9284 98.7227 14.0842C99.0905 14.2297 99.3867 14.4376 99.6115 14.7078C99.8362 14.9676 99.9997 15.2794 100.102 15.6431C100.204 16.0069 100.255 16.4018 100.255 16.8279V21.9098C100.153 21.941 100.005 21.9773 99.8107 22.0189C99.6166 22.0501 99.3918 22.0865 99.1364 22.128C98.881 22.1696 98.595 22.2008 98.2783 22.2216C97.9718 22.2527 97.6551 22.2683 97.3282 22.2683C96.9094 22.2683 96.5212 22.2216 96.1636 22.128C95.8163 22.0345 95.5098 21.889 95.2442 21.6915C94.9888 21.4837 94.7845 21.2239 94.6312 20.9121C94.4882 20.5899 94.4167 20.2002 94.4167 19.743C94.4167 19.3065 94.4984 18.9323 94.6619 18.6206C94.8253 18.3088 95.0552 18.0542 95.3515 17.8567C95.6477 17.6489 96.0002 17.4982 96.4088 17.4046C96.8174 17.3111 97.2618 17.2643 97.742 17.2643C97.885 17.2643 98.0331 17.2747 98.1864 17.2955C98.3498 17.3059 98.503 17.3267 98.6461 17.3579C98.7993 17.3787 98.927 17.4046 99.0292 17.4358C99.1415 17.4566 99.2182 17.4774 99.259 17.4982V16.9993C99.259 16.7187 99.2386 16.4485 99.1977 16.1887C99.1569 15.9185 99.0649 15.6795 98.9219 15.4716C98.7891 15.2534 98.595 15.0819 98.3396 14.9572C98.0944 14.8221 97.7675 14.7546 97.3589 14.7546C96.7766 14.7546 96.3424 14.7961 96.0563 14.8793C95.7703 14.9624 95.5609 15.03 95.4281 15.0819L95.2902 14.1934C95.4638 14.1102 95.7294 14.0323 96.087 13.9595C96.4548 13.8868 96.894 13.8504 97.4048 13.8504Z"
            fill="#2F3035" />
          <path d="M107.331 14.8949H103.792V22.0969H102.796V14.0375H107.331V14.8949Z" fill="#2F3035" />
          <path
            d="M115.644 18.075C115.644 18.7089 115.552 19.2857 115.368 19.8053C115.195 20.3249 114.944 20.7666 114.617 21.1304C114.301 21.4941 113.923 21.7799 113.483 21.9877C113.044 22.1852 112.559 22.2839 112.028 22.2839C111.496 22.2839 111.011 22.1852 110.572 21.9877C110.133 21.7799 109.749 21.4941 109.423 21.1304C109.106 20.7666 108.856 20.3249 108.672 19.8053C108.498 19.2857 108.411 18.7089 108.411 18.075C108.411 17.441 108.498 16.8642 108.672 16.3446C108.856 15.825 109.106 15.3833 109.423 15.0196C109.749 14.6454 110.133 14.3596 110.572 14.1622C111.011 13.9543 111.496 13.8504 112.028 13.8504C112.559 13.8504 113.044 13.9543 113.483 14.1622C113.923 14.3596 114.301 14.6454 114.617 15.0196C114.944 15.3833 115.195 15.825 115.368 16.3446C115.552 16.8642 115.644 17.441 115.644 18.075ZM114.587 18.075C114.587 17.0669 114.357 16.2667 113.897 15.6743C113.437 15.0715 112.814 14.7702 112.028 14.7702C111.241 14.7702 110.618 15.0715 110.158 15.6743C109.698 16.2667 109.469 17.0669 109.469 18.075C109.469 19.083 109.698 19.8833 110.158 20.4756C110.618 21.068 111.241 21.3642 112.028 21.3642C112.814 21.3642 113.437 21.068 113.897 20.4756C114.357 19.8833 114.587 19.083 114.587 18.075Z"
            fill="#2F3035" />
          <path
            d="M123.904 21.2395H124.808V24.326H123.843V22.0969H117.683V24.326H116.717V21.2395H117.529C117.866 20.6991 118.132 20.1794 118.326 19.6806C118.53 19.1818 118.684 18.6725 118.786 18.1529C118.898 17.6333 118.97 17.0877 119 16.5161C119.041 15.9341 119.062 15.3002 119.062 14.6143V14.0375H123.904V21.2395ZM119.996 14.8949C119.996 15.4561 119.976 16.0069 119.935 16.5473C119.905 17.0877 119.838 17.6229 119.736 18.1529C119.634 18.6829 119.491 19.2077 119.307 19.7274C119.123 20.2366 118.883 20.7406 118.587 21.2395H122.908V14.8949H119.996Z"
            fill="#2F3035" />
          <path
            d="M127.6 22.0969H126.604V14.0375H127.6V22.0969ZM127.83 11.6056C127.83 11.8447 127.759 12.0369 127.616 12.1824C127.473 12.3175 127.299 12.3851 127.095 12.3851C126.89 12.3851 126.717 12.3175 126.574 12.1824C126.431 12.0369 126.359 11.8447 126.359 11.6056C126.359 11.3666 126.431 11.1795 126.574 11.0444C126.717 10.8989 126.89 10.8262 127.095 10.8262C127.299 10.8262 127.473 10.8989 127.616 11.0444C127.759 11.1795 127.83 11.3666 127.83 11.6056Z"
            fill="#2F3035" />
          <path
            d="M135.635 15.3313C135.328 15.7055 134.971 16.1783 134.562 16.7499C134.164 17.3215 133.755 17.9243 133.336 18.5582C132.928 19.1922 132.534 19.8209 132.156 20.4444C131.778 21.068 131.451 21.6188 131.176 22.0969H130.241V14.0375H131.221V20.4912C131.467 20.0443 131.768 19.5299 132.126 18.9479C132.493 18.3556 132.882 17.7632 133.29 17.1708C133.699 16.5681 134.107 15.9913 134.516 15.4405C134.935 14.8897 135.323 14.422 135.681 14.0375H136.615V22.0969H135.635V15.3313ZM133.428 12.6657C132.856 12.6657 132.386 12.5046 132.018 12.1824C131.651 11.8603 131.416 11.403 131.313 10.8106L132.126 10.5924C132.187 10.9457 132.32 11.2367 132.524 11.4653C132.739 11.6836 133.04 11.7927 133.428 11.7927C133.816 11.7927 134.113 11.6836 134.317 11.4653C134.531 11.2367 134.669 10.9457 134.731 10.5924L135.543 10.8106C135.441 11.403 135.206 11.8603 134.838 12.1824C134.47 12.5046 134 12.6657 133.428 12.6657Z"
            fill="#2F3035" />
          <path
            d="M145.548 22.0969H144.552V18.34H140.246V22.0969H139.249V14.0375H140.246V17.4826H144.552V14.0375H145.548V22.0969Z"
            fill="#2F3035" />
          <path
            d="M153.577 15.3313C153.271 15.7055 152.913 16.1783 152.505 16.7499C152.106 17.3215 151.698 17.9243 151.279 18.5582C150.87 19.1922 150.477 19.8209 150.099 20.4444C149.721 21.068 149.394 21.6188 149.118 22.0969H148.183V14.0375H149.164V20.4912C149.409 20.0443 149.711 19.5299 150.068 18.9479C150.436 18.3556 150.824 17.7632 151.233 17.1708C151.641 16.5681 152.05 15.9913 152.459 15.4405C152.878 14.8897 153.266 14.422 153.623 14.0375H154.558V22.0969H153.577V15.3313Z"
            fill="#2F3035" />
          <path
            d="M162.586 15.3313C162.28 15.7055 161.922 16.1783 161.513 16.7499C161.115 17.3215 160.706 17.9243 160.288 18.5582C159.879 19.1922 159.486 19.8209 159.108 20.4444C158.73 21.068 158.403 21.6188 158.127 22.0969H157.192V14.0375H158.173V20.4912C158.418 20.0443 158.719 19.5299 159.077 18.9479C159.445 18.3556 159.833 17.7632 160.242 17.1708C160.65 16.5681 161.059 15.9913 161.467 15.4405C161.886 14.8897 162.275 14.422 162.632 14.0375H163.567V22.0969H162.586V15.3313ZM160.379 12.6657C159.807 12.6657 159.337 12.5046 158.97 12.1824C158.602 11.8603 158.367 11.403 158.265 10.8106L159.077 10.5924C159.138 10.9457 159.271 11.2367 159.475 11.4653C159.69 11.6836 159.991 11.7927 160.379 11.7927C160.768 11.7927 161.064 11.6836 161.268 11.4653C161.483 11.2367 161.621 10.9457 161.682 10.5924L162.494 10.8106C162.392 11.403 162.157 11.8603 161.789 12.1824C161.421 12.5046 160.952 12.6657 160.379 12.6657Z"
            fill="#2F3035" />
          <path
            d="M174.637 13.9907C175.168 13.9907 175.7 14.0739 176.231 14.2401C176.762 14.396 177.237 14.6402 177.656 14.9728C178.085 15.3054 178.432 15.7315 178.698 16.2511C178.964 16.7603 179.096 17.3683 179.096 18.075C179.096 18.7817 178.964 19.3948 178.698 19.9144C178.432 20.4237 178.085 20.8446 177.656 21.1771C177.237 21.5097 176.762 21.7591 176.231 21.9254C175.7 22.0813 175.168 22.1592 174.637 22.1592V24.9808H173.656V22.1592C173.125 22.1592 172.594 22.0813 172.063 21.9254C171.532 21.7591 171.051 21.5097 170.622 21.1771C170.204 20.8446 169.861 20.4237 169.596 19.9144C169.33 19.3948 169.197 18.7817 169.197 18.075C169.197 17.3683 169.33 16.7603 169.596 16.2511C169.861 15.7315 170.204 15.3054 170.622 14.9728C171.051 14.6402 171.532 14.396 172.063 14.2401C172.594 14.0739 173.125 13.9907 173.656 13.9907V10.1871L174.637 10V13.9907ZM173.656 14.8481C173.176 14.8481 172.727 14.926 172.308 15.0819C171.889 15.2274 171.526 15.4405 171.22 15.7211C170.914 15.9913 170.673 16.329 170.5 16.7343C170.326 17.1292 170.239 17.5761 170.239 18.075C170.239 18.5738 170.326 19.0259 170.5 19.4312C170.673 19.8261 170.914 20.1639 171.22 20.4444C171.526 20.7147 171.889 20.9277 172.308 21.0836C172.727 21.2291 173.176 21.3018 173.656 21.3018V14.8481ZM174.637 21.3018C175.117 21.3018 175.567 21.2291 175.986 21.0836C176.405 20.9277 176.767 20.7147 177.074 20.4444C177.38 20.1639 177.62 19.8261 177.794 19.4312C177.968 19.0259 178.054 18.5738 178.054 18.075C178.054 17.5761 177.968 17.1292 177.794 16.7343C177.62 16.329 177.38 15.9913 177.074 15.7211C176.767 15.4405 176.405 15.2274 175.986 15.0819C175.567 14.926 175.117 14.8481 174.637 14.8481V21.3018Z"
            fill="#2F3035" />
          <path
            d="M187.998 18.075C187.998 18.7089 187.906 19.2857 187.722 19.8053C187.549 20.3249 187.298 20.7666 186.971 21.1304C186.655 21.4941 186.277 21.7799 185.837 21.9877C185.398 22.1852 184.913 22.2839 184.382 22.2839C183.85 22.2839 183.365 22.1852 182.926 21.9877C182.487 21.7799 182.104 21.4941 181.777 21.1304C181.46 20.7666 181.21 20.3249 181.026 19.8053C180.852 19.2857 180.765 18.7089 180.765 18.075C180.765 17.441 180.852 16.8642 181.026 16.3446C181.21 15.825 181.46 15.3833 181.777 15.0196C182.104 14.6454 182.487 14.3596 182.926 14.1622C183.365 13.9543 183.85 13.8504 184.382 13.8504C184.913 13.8504 185.398 13.9543 185.837 14.1622C186.277 14.3596 186.655 14.6454 186.971 15.0196C187.298 15.3833 187.549 15.825 187.722 16.3446C187.906 16.8642 187.998 17.441 187.998 18.075ZM186.941 18.075C186.941 17.0669 186.711 16.2667 186.251 15.6743C185.791 15.0715 185.168 14.7702 184.382 14.7702C183.595 14.7702 182.972 15.0715 182.512 15.6743C182.052 16.2667 181.823 17.0669 181.823 18.075C181.823 19.083 182.052 19.8833 182.512 20.4756C182.972 21.068 183.595 21.3642 184.382 21.3642C185.168 21.3642 185.791 21.068 186.251 20.4756C186.711 19.8833 186.941 19.083 186.941 18.075Z"
            fill="#2F3035" />
          <path
            d="M196.457 22.0969H195.461V18.34H191.155V22.0969H190.159V14.0375H191.155V17.4826H195.461V14.0375H196.457V22.0969Z"
            fill="#2F3035" />
          <path
            d="M205.192 21.2395H206.096V24.326H205.131V22.0969H198.971V24.326H198.005V21.2395H198.817C199.154 20.6991 199.42 20.1794 199.614 19.6806C199.818 19.1818 199.972 18.6725 200.074 18.1529C200.186 17.6333 200.258 17.0877 200.288 16.5161C200.329 15.9341 200.35 15.3002 200.35 14.6143V14.0375H205.192V21.2395ZM201.284 14.8949C201.284 15.4561 201.264 16.0069 201.223 16.5473C201.193 17.0877 201.126 17.6229 201.024 18.1529C200.922 18.6829 200.779 19.2077 200.595 19.7274C200.411 20.2366 200.171 20.7406 199.875 21.2395H204.196V14.8949H201.284Z"
            fill="#2F3035" />
          <g clip-path="url(#clip0_70_283)">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.8149 49.2779C15.8354 53.6485 16.0245 54.691 17.9744 59.6422C18.2366 60.3081 18.3975 61.5307 18.6312 62C19.4531 60.852 21.0598 55.6102 21.3643 53.8798C21.9107 50.775 22.3909 47.1437 21.5651 43.9392C20.4506 39.6142 18.2548 36.704 16.2268 33.0667C15.9542 32.5779 14.551 29.7738 14.2804 29.6736C13.7357 30.9719 15.4169 37.3156 15.9096 39.1122C16.1025 39.8158 16.6244 41.3244 16.6488 42.0131C16.0539 41.804 14.3832 40.2921 13.3404 39.6197C12.1875 38.8764 11.1442 38.1291 10.0557 37.3417C8.78643 36.4235 8.05172 35.8917 6.93122 34.7452C2.60152 30.3146 3.17867 28.4526 2.80784 21.9677C2.68045 19.7399 1.63748 14.8792 0.0181761 13.6709C-0.0526424 15.4621 0.0959613 17.9875 0.259777 19.7909C0.43024 21.6673 0.317429 24.1677 0.282147 26.0972C0.243478 28.2124 0.25313 30.3531 0.316087 32.4678C0.512563 39.0636 7.06596 44.9491 11.8149 49.2779L11.8149 49.2779Z"
              fill="#FED500" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M5.76914 27.0554C5.88866 24.942 6.45533 21.7366 5.55789 19.5567C5.23058 18.7618 4.32758 17.5773 3.65117 17.3539C3.44178 17.79 4.33404 21.6008 4.37558 22.2764C4.51729 24.578 4.1637 27.4426 4.91267 29.785C5.05187 30.2205 5.15823 30.8101 5.55483 31.0759C6.01368 30.1591 5.70254 28.2316 5.76914 27.0554Z"
              fill="#FED500" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M14.0791 36.9743C13.8002 33.8584 13.0475 31.1492 12.907 27.7671C12.669 22.04 13.631 15.5189 16.9076 10.9808C20.2764 6.31501 22.2103 4.8922 25.4292 9.71507C28.3314 14.0636 29.3086 17.3387 30.316 22.6382C31.0272 22.3999 34.4897 19.8014 35.9209 18.9358C37.3546 18.0686 40.5875 16.4047 42.7343 16.748C44.6146 17.0488 45.6541 21.4824 45.7488 22.9594C46.394 33.0176 38.0666 40.1814 30.2514 44.3299C28.7274 45.1389 24.9466 46.3648 24.0225 47.3141C30.0917 47.535 36.472 45.3871 40.7581 42.7807C45.1507 40.1094 48.7147 36.7067 51.1399 31.8972C53.8675 26.4878 54.193 19.7269 50.3671 15.389C48.7793 13.5887 47.2073 11.9785 44.1706 10.8596C40.4607 9.49263 38.5318 10.4315 35.1635 11.1777C34.5506 10.3216 34.1034 8.80909 33.4791 7.77644C33.0991 7.14774 32.8641 6.93569 32.4538 6.30334C31.9868 5.58356 31.8756 5.49473 31.3306 4.94543C27.2825 0.86549 22.6542 -1.3186 16.5689 0.857536C13.8779 1.81989 12.1049 3.44462 10.8851 5.32456C8.05713 9.68339 7.51141 16.4255 8.42637 22.3787C8.92587 25.6288 12.0507 36.0191 14.0792 36.9742L14.0791 36.9743Z"
              fill="#00A3E8" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M31.4834 61.2544C35.4709 56.7279 46.6948 55.2685 51.2389 51.3806C55.1499 48.0344 55.0988 41.7169 57.8682 35.6451C58.6667 33.8941 59.6175 32.4506 60.5095 31.0063C58.4281 31.3134 56.7406 33.3733 55.8971 34.8985C54.7709 36.9349 54.3581 38.7071 53.5795 41.0822C52.74 43.6429 51.8641 44.4752 49.9691 46.0797C49.3461 46.6073 45.1853 48.6842 44.1819 48.7612C44.4128 48.2782 44.808 48.0256 45.1531 47.6276C46.8851 45.6301 50.1348 40.4886 50.1475 38.034C49.6429 38.3781 49.3031 38.853 48.8715 39.3792C47.8367 40.6407 44.5648 43.028 43.0539 44.067C41.6422 45.0376 39.5188 46.2278 38.3545 47.1886L37.6065 47.7767C36.7315 48.3856 36.2999 48.9288 35.6182 49.698C33.1432 52.4907 31.2598 57.1064 31.4835 61.2544L31.4834 61.2544Z"
              fill="#FED500" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M56.1457 43.7783C58.2942 42.9648 59.0762 37.9441 59.8922 35.7762C60.233 34.871 60.7363 33.858 61 32.9464C59.1649 34.0128 56.2636 40.5149 56.1457 43.7783Z"
              fill="#FED500" />
          </g>
          <defs>
            <clipPath id="clip0_70_283">
              <rect width="61" height="62" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </a>
      <div class="contact header__contact">
        <a href="tel:+380972528727400" class="contact__phone">
          <svg class="ic--phone" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_102_149)">
            <path d="M14.997 16.5C6.46601 16.512 -0.00899063 9.96 9.3707e-06 1.503C9.3707e-06 0.95 0.448009 0.5 1.00001 0.5H3.64001C4.13501 0.5 4.55601 0.864 4.62901 1.354C4.80311 2.52905 5.14493 3.67305 5.64401 4.751L5.74701 4.973C5.8162 5.12239 5.83108 5.29124 5.78909 5.45043C5.7471 5.60962 5.65088 5.74917 5.51701 5.845C4.69901 6.429 4.38701 7.604 5.02401 8.52C5.82599 9.67333 6.82695 10.6746 7.98001 11.477C8.89701 12.113 10.072 11.801 10.655 10.984C10.7507 10.8497 10.8904 10.7531 11.0498 10.711C11.2092 10.6688 11.3784 10.6836 11.528 10.753L11.749 10.855C12.827 11.355 13.971 11.697 15.146 11.871C15.636 11.944 16 12.365 16 12.861V15.5C16 15.6314 15.9741 15.7615 15.9238 15.8829C15.8735 16.0043 15.7997 16.1146 15.7068 16.2075C15.6138 16.3003 15.5034 16.374 15.382 16.4242C15.2606 16.4744 15.1304 16.5001 14.999 16.5H14.997Z" fill="#00A3E8"/>
            </g>
            <defs>
            <clipPath id="clip0_102_149">
            <rect width="16" height="17" fill="white"/>
            </clipPath>
            </defs>
          </svg>
          <span>+38 (097) 2528727400</span>
        </a>
        <a href="#" class="contact__social">
          <svg class="ic--telegram" width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.44343 8.29429C7.08164 5.84634 10.8404 4.23234 12.7198 3.45259C18.0922 1.226 19.2071 0.839296 19.9353 0.826194C20.0954 0.823634 20.452 0.863088 20.6846 1.05057C20.878 1.20869 20.9324 1.42252 20.9596 1.57266C20.9838 1.72264 21.017 2.06448 20.9898 2.33132C20.6998 5.37921 19.4398 12.7755 18.7992 16.1893C18.5303 17.6337 17.9955 18.118 17.4788 18.1653C16.3548 18.2683 15.5027 17.4256 14.4149 16.7152C12.7138 15.6029 11.7529 14.9108 10.1002 13.8257C8.19055 12.5716 9.42938 11.8822 10.5171 10.7558C10.8012 10.4609 15.7505 5.97494 15.8441 5.56805C15.8562 5.51715 15.8683 5.32741 15.7535 5.22742C15.6417 5.12713 15.4755 5.16146 15.3546 5.18857C15.1824 5.22712 12.466 7.01851 7.19646 10.5624C6.42596 11.0907 5.72798 11.3482 5.0995 11.3347C4.41059 11.3199 3.08111 10.9455 2.09306 10.6257C0.884445 10.2333 -0.0794292 10.0257 0.00517413 9.35925C0.0474758 9.01229 0.527902 8.65721 1.44343 8.29429Z" fill="#00A3E8"/>
          </svg>            
          <span>@telegram</span>
        </a>
        <a href="#" class="contact__social">
          <svg class="ic--whatsapp" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_70_311)">
            <path d="M0.00401338 20.5L1.35601 15.532C0.465151 14.0049 -0.00289063 12.268 1.34322e-05 10.5C1.34322e-05 4.977 4.47701 0.5 10 0.5C15.523 0.5 20 4.977 20 10.5C20 16.023 15.523 20.5 10 20.5C8.23279 20.5029 6.49667 20.0352 4.97001 19.145L0.00401338 20.5ZM6.39101 5.808C6.26188 5.81602 6.13569 5.85003 6.02001 5.908C5.91153 5.96943 5.81251 6.04622 5.72601 6.136C5.60601 6.249 5.53801 6.347 5.46501 6.442C5.09542 6.923 4.89662 7.51342 4.90001 8.12C4.90201 8.61 5.03001 9.087 5.23001 9.533C5.63901 10.435 6.31201 11.39 7.20101 12.275C7.41501 12.488 7.62401 12.702 7.84901 12.901C8.9524 13.8725 10.2673 14.573 11.689 14.947L12.258 15.034C12.443 15.044 12.628 15.03 12.814 15.021C13.1053 15.006 13.3896 14.9271 13.647 14.79C13.778 14.7225 13.9058 14.6491 14.03 14.57C14.03 14.57 14.073 14.542 14.155 14.48C14.29 14.38 14.373 14.309 14.485 14.192C14.568 14.106 14.64 14.005 14.695 13.89C14.773 13.727 14.851 13.416 14.883 13.157C14.907 12.959 14.9 12.851 14.897 12.784C14.893 12.677 14.804 12.566 14.707 12.519L14.125 12.258C14.125 12.258 13.255 11.879 12.724 11.637C12.668 11.6126 12.608 11.5987 12.547 11.596C12.4786 11.589 12.4095 11.5967 12.3443 11.6186C12.2791 11.6405 12.2193 11.6761 12.169 11.723V11.721C12.164 11.721 12.097 11.778 11.374 12.654C11.3325 12.7098 11.2754 12.7519 11.2098 12.7751C11.1443 12.7982 11.0733 12.8013 11.006 12.784C10.9409 12.7666 10.877 12.7445 10.815 12.718C10.691 12.666 10.648 12.646 10.563 12.609L10.558 12.607C9.98592 12.3572 9.45624 12.0198 8.98801 11.607C8.86201 11.497 8.74501 11.377 8.62501 11.261C8.23159 10.8842 7.88873 10.458 7.60501 9.993L7.54601 9.898C7.50364 9.83416 7.46937 9.7653 7.44401 9.693C7.40601 9.546 7.50501 9.428 7.50501 9.428C7.50501 9.428 7.74801 9.162 7.86101 9.018C7.9551 8.89832 8.04289 8.77382 8.12401 8.645C8.24201 8.455 8.27901 8.26 8.21701 8.109C7.93701 7.425 7.64701 6.744 7.34901 6.068C7.29001 5.934 7.11501 5.838 6.95601 5.819C6.90201 5.813 6.84801 5.807 6.79401 5.803C6.65972 5.79633 6.52515 5.79766 6.39101 5.807V5.808Z" fill="#00A3E8"/>
            </g>
            <defs>
            <clipPath id="clip0_70_311">
            <rect width="20" height="20" fill="white" transform="translate(0 0.5)"/>
            </clipPath>
            </defs>
          </svg>            
          <span>@whatsapp</span>
        </a>
      </div>
      <button class="header__openbtn openbtn">
        <svg class="img-full" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="25" cy="25" r="25" fill="#00A3E8" />
          <g clip-path="url(#clip0_70_297)">
            <path d="M35.3546 20.9532H14.6546" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M35.3546 30.9532H14.6546" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath id="clip0_70_297">
              <rect width="24" height="13" fill="white" transform="translate(13 19)" />
            </clipPath>
          </defs>
        </svg>
      </button>
    </div>
  </div>

  @@include('_menu.html')

</header>