
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@@title</title>

    <meta name="description" content="Описание">
    <meta name="keywords" content="Ключевики">
    <meta name="author" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
	
	
    <script>
        const totalFontSize = function() {
            const pageWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;  
            
            
            if (pageWidth > 992) {
                let value = (pageWidth * 10 / 1920).toFixed(2);
                document.documentElement.style.fontSize = value + 'px';
            } else {
                document.documentElement.style.fontSize = '10px';
            }
        };

        totalFontSize();
		
		window.addEventListener('resize', totalFontSize);
		
    </script>
    	
	<link rel="stylesheet" href="css/plugins/plugins.min.css"> 
	
	<link rel="stylesheet" href="css/style.min.css">
